
/*
 * TEXT COLOR
 */
.txt-color {
  &.txt-color-blue          { color: $blue !important; }
  &.txt-color-blueLight     { color: $blueLight !important; }
  &.txt-color-blueDark      { color: $blueDark !important; }
  &.txt-color-grayLightest  { color: $gray-lightest !important; }
  &.txt-color-grayLighter   { color: $gray-lighter !important; }
  &.txt-color-grayLight     { color: $gray-light !important; }
  &.txt-color-gray          { color: $gray !important; }
  &.txt-color-grayDark      { color: $gray-dark !important; }
  &.txt-color-greenLight    { color: $green-light !important; }
  &.txt-color-green         { color: $green !important; }
  &.txt-color-greenDark     { color: $green-dark  !important; }
  &.txt-color-redLight      { color: $redLight !important; }
  &.txt-color-red           { color: $red !important; }
  &.txt-color-redDarker     { color: $red-darker !important; }
  &.txt-color-yellow        { color: $yellow !important; }
  &.txt-color-yellowDark    { color: $yellow-dark !important; }
  &.txt-color-orangeLight   { color: $orange-light !important; }
  &.txt-color-orange        { color: $orange !important; }
  &.txt-color-orangeDark    { color: $orange-dark !important; }
  &.txt-color-pink          { color: $pink !important; }
  &.txt-color-pinkDark      { color: $pinkDark !important; }
  &.txt-color-purple        { color: $purple !important; }
  &.txt-color-darken        { color: $darken !important; }
  &.txt-color-lighten       { color: $lighten !important; }
  &.txt-color-white         { color: $white !important; }
  &.txt-color-magenta       { color: $magenta !important; }
  &.txt-color-tealLightest  { color: $teal-lightest !important; }
  &.txt-color-tealLighter   { color: $teal-lighter !important; }
  &.txt-color-teal          { color: $teal !important; }
  &.txt-color-indigoDark    { color: $indigo-dark !important; }
  &.txt-color-indigoDarkest { color: $indigo-darkest !important; }

  &.txt-color-gold          { color: $gold !important; }
  &.txt-color-silver        { color: $silver !important; }
  &.txt-color-bronze        { color: $bronze !important; }

  &.txt-color-primary       { color: $brand-primary !important; }
  &.txt-color-success       { color: $brand-success !important; }
  &.txt-color-information   { color: $brand-info !important; }
  &.txt-color-info          { color: $brand-info !important; }
  &.txt-color-warning       { color: $brand-warning !important; }
  &.txt-color-danger        { color: $brand-danger !important; }
}
/*
 * BACKGROUNDS
 */
.bg-color {
  &.bg-color-blue           { background-color: $blue !important; }
  &.bg-color-blueLight      { background-color: $blueLight !important; }
  &.bg-color-blueDark       { background-color: $blueDark !important; }
  &.bg-color-green          { background-color: $green !important; }
  &.bg-color-greenLight     { background-color: $greenLight !important; }
  &.bg-color-greenDark      { background-color: $greenDark  !important; }
  &.bg-color-red            { background-color: $red !important; }
  &.bg-color-yellow         { background-color: $yellow !important; }
  &.bg-color-orange         { background-color: $orange !important; }
  &.bg-color-orangeDark     { background-color: $orangeDark !important; }
  &.bg-color-pink           { background-color: $pink !important; }
  &.bg-color-pinkDark       { background-color: $pinkDark !important; }
  &.bg-color-purple         { background-color: $purple !important; }
  &.bg-color-darken         { background-color: $darken !important; }
  &.bg-color-lighten        { background-color: $lighten !important; }
  &.bg-color-white          { background-color: $white !important; }
  &.bg-color-gray           { background-color: $gray !important; }
  &.bg-color-grayDark       { background-color: $greyDark !important; }
  &.bg-color-grayDarker     { background-color: $gray-darker !important; }
  &.bg-color-magenta        { background-color: $magenta !important; }
  &.bg-color-tealLighter    { background-color: $teal-lighter !important; }
  &.bg-color-tealDark       { background-color: $teal-dark !important; }
  &.bg-color-tealDarker     { background-color: $teal-darker !important; }
  &.bg-color-tealDarkest    { background-color: $teal-darkest !important; }
  &.bg-color-redLight       { background-color: $redLight !important; }
}
