

// a flag to toggle asset pipeline / compass integration
// defaults to true if twbs-font-path function is present (no function => twbs-font-path('') parsed as string == right side)
// in Sass 3.3 this can be improved with: function-exists(twbs-font-path)
$bootstrap-sass-asset-helper: (twbs-font-path("") != unquote('twbs-font-path("")'));
//
// Variables
// --------------------------------------------------



//== Scaffolding
//
// ## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               $gray-darkest;
//** Global text color on `<body>`.
$text-color:            $gray-light;

//** Global textual link color.
$link-color:            $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%);


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$pf-font-path:            "../../fonts" !default;

@font-face {
  font-family: 'Oxygen';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('#{$pf-font-path}/oxygen-regular-webfont.eot');
  src: url('#{$pf-font-path}/oxygen-regular-webfont.eot') format('embedded-opentype'),
  url('#{$pf-font-path}/oxygen-regular-webfont.woff2') format('woff2'),
  url('#{$pf-font-path}/oxygen-regular-webfont.woff') format('woff'),
  url('#{$pf-font-path}/oxygen-regular-webfont.ttf') format('truetype');
}

/* not used jet
@include font-face(
    'Oxygen Light',
    font-files(
        'oxygen-light-webfont.woff', woff,
        'oxygen-light-webfont.ttf', truetype
    ),
    'oxygen-light-webfont.eot',
    300
);
*/

@font-face {
  font-family: 'Oxygen Bold';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('#{$pf-font-path}/oxygen-bold-webfont.eot');
  src: url('#{$pf-font-path}/oxygen-bold-webfont.eot') format('embedded-opentype'),
  url('#{$pf-font-path}/oxygen-bold-webfont.woff2') format('woff2'),
  url('#{$pf-font-path}/oxygen-bold-webfont.woff') format('woff'),
  url('#{$pf-font-path}/oxygen-bold-webfont.ttf') format('truetype');
}




$font-family-sans-serif:  'Oxygen', "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       'Oxygen' Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:   Consolas, monospace, Menlo, Monaco, "Courier New";
$font-family-bold:        'Oxygen Bold', "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-readable:    'Arial', 'Oxygen Bold', "Helvetica Neue", Helvetica, sans-serif !default;
$font-family-base:        $font-family-sans-serif;
$font-style-base:         normal;
$font-weight-base:        400;

$font-size-base:          12px;
$font-size-large:         ceil(($font-size-base * 1.24)); // ~16px
$font-size-small:         ceil(($font-size-base * 0.85)); // ~11px

$font-size-h1:            floor(($font-size-base * 1.85)); // ~24px
$font-size-h2:            20px; //floor(($font-size-base * 1.24)); // ~22px
$font-size-h3:            ceil(($font-size-base * 1.385)); // ~18px
$font-size-h4:            $font-size-base; //ceil(($font-size-base * 1.32)); // ~17px
$font-size-h5:            ceil(($font-size-base * 1.16)); // ~16px
$font-size-h6:            ceil(($font-size-base * 1.08)); // ~14px

//$line-height-base:        1.428571429; // 20/14
$line-height-base:        1.5; // 18/12
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~18px

$headings-font-family:    $font-family-base;
$headings-font-weight:    700;
$headings-line-height:    1.1;
$headings-color:          inherit;






//-- Iconography
//
//## Specify custom locations of the include Glyphicons icon font. Useful for those including Bootstrap via Bower.

$icon-font-path:          "../../fonts/";
$icon-font-name:          "glyphicons-halflings-regular";
$icon-font-svg-id:        "glyphicons_halflingsregular";

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     6px;
$padding-base-horizontal:   12px;

$padding-large-vertical:    10px;
$padding-large-horizontal:  16px;

$padding-small-vertical:    5px;
$padding-small-horizontal:  10px;

$padding-xs-vertical:       1px;
$padding-xs-horizontal:     5px;

$line-height-large:         1.33;
$line-height-small:         1.5;

$border-radius-base:        0px;
$border-radius-large:       6px;
$border-radius-small:       3px;

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:    #fff;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:       $brand-primary;

//** Width of the `border` for generating carets that indicator dropdowns.
$caret-width-base:          4px;
//** Carets increase slightly in size for larger components.
$caret-width-large:         5px;


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding:            8px;
$table-condensed-cell-padding:  2px;

$table-bg:                      transparent;
$table-bg-accent:               #f9f9f9;
$table-bg-hover:                #ecf3f8;
$table-bg-active:               $table-bg-hover;

$table-border-color:            $gray-dark;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                normal;

$btn-default-color:              $gray-lightest;
$btn-default-bg:                 $gray-light;
$btn-default-border:             darken($gray-light, 5%);

$btn-primary-color:              $gray-lightest;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             darken($btn-primary-bg, 5%);

$btn-success-color:              $gray-lightest;
$btn-success-bg:                 $brand-success;
$btn-success-border:             darken($btn-success-bg, 5%);

$btn-info-color:                 $gray-lightest;
$btn-info-bg:                    $brand-info;
$btn-info-border:                darken($btn-info-bg, 5%);

$btn-warning-color:              $gray-lightest;
$btn-warning-bg:                 $orange-dark;
$btn-warning-border:             darken($btn-warning-bg, 5%);

$btn-danger-color:               $gray-lightest;
$btn-danger-bg:                  $brand-danger;
$btn-danger-border:              darken($btn-danger-bg, 5%);

$btn-link-disabled-color:        $gray-light;


//== Forms
//
//##

$input-bg:                       $gray-dark;
$input-bg-disabled:              $gray;

$input-color:                    $gray-lighter;
$input-border:                   $gray-light;
$input-border-radius:            0px;
$input-border-focus:             $teal-lighter;

$input-color-placeholder:        $gray-light;

$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2);
$input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2);
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2);

$legend-color:                   $gray-dark;
$legend-border-color:            #e5e5e5;

$input-group-addon-bg:           $gray-darker;
$input-group-addon-border-color: $input-border;


//== Dropdowns
//
//## Dropdown menu container and contents.

$dropdown-bg:                    $gray-lighter;
$dropdown-border:                rgba(0,0,0,.15);
$dropdown-fallback-border:       #ccc;
$dropdown-divider-bg:            $gray-light;

$dropdown-link-color:            $gray-dark;
$dropdown-link-hover-color:      $gray-darkest;
$dropdown-link-hover-bg:         $gray-light;
$dropdown-link-active-color:     $gray-lighter;
$dropdown-link-active-bg:        $component-active-bg;

$dropdown-link-disabled-color:   $gray-light;

$dropdown-header-color:          $gray-light;

$dropdown-caret-color:           #000;


//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

$zindex-navbar:               1000;
$zindex-dropdown:             1000;
$zindex-tooltip:              1010;
$zindex-popover:              1030;
$zindex-navbar-fixed:         1030;
$zindex-modal-background:     1040;
$zindex-modal:                1050;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;
$screen-phone:               $screen-xs-min;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  780px;
$screen-sm-min:              $screen-sm;
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  1200px;
$screen-md-min:              $screen-md;
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg:                  1600px;
$screen-lg-min:              $screen-lg;
$screen-lg-desktop:          $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         20px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-xs-min;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             ((720px + $grid-gutter-width));
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet;

// Medium screen / desktop
$container-desktop:            ((1060px + $grid-gutter-width));
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop;

// Large screen / wide desktop
$container-large-desktop:      ((1240px + $grid-gutter-width));
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop;


//== Navbar
//
//##

// Basics of a navbar
$navbar-height:                    30px;
$navbar-margin-bottom:             $line-height-computed;
$navbar-border-radius:             $border-radius-base;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2));
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2);
$navbar-collapse-max-height:       340px;

$navbar-default-color:             $gray-light;
$navbar-default-bg:                $gray-darker;
$navbar-default-opacity:           0.9;
$navbar-default-border:            none;

// Navbar links
$navbar-default-link-color:                #777;
$navbar-default-link-hover-color:          $teal-lightest;
$navbar-default-link-hover-bg:             transparent;
$navbar-default-link-active-color:         $teal-lighter;
$navbar-default-link-active-bg:            transparent;
$navbar-default-link-disabled-color:       $gray;
$navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color;
$navbar-default-brand-hover-color:         $teal-lighter;
$navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
$navbar-default-toggle-hover-bg:           lighten($gray-lighter, 5%);
$navbar-default-toggle-icon-bar-bg:        $teal;
$navbar-default-toggle-border-color:       $teal;


// Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                      $gray-light;
$navbar-inverse-bg:                         #222;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%);

// Inverted navbar links
$navbar-inverse-link-color:                 $gray-light;
$navbar-inverse-link-hover-color:           #fff;
$navbar-inverse-link-hover-bg:              transparent;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color;
$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%);
$navbar-inverse-link-disabled-color:        #444;
$navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar brand label
$navbar-inverse-brand-color:                $navbar-inverse-link-color;
$navbar-inverse-brand-hover-color:          #fff;
$navbar-inverse-brand-hover-bg:             transparent;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            #333;
$navbar-inverse-toggle-icon-bar-bg:         #fff;
$navbar-inverse-toggle-border-color:        #333;


//== Navs
//
//##

//=== Shared nav styles
$nav-link-padding:                          5px 6px 5px;
$nav-link-hover-bg:                         $gray;

$nav-disabled-link-color:                   $gray-light;
$nav-disabled-link-hover-color:             $gray-light;

$nav-open-link-hover-color:                 #fff;

//== Tabs
$nav-tabs-border-color:                     $gray-lighter;

$nav-tabs-link-hover-border-color:          $gray-lighter;

$nav-tabs-active-link-hover-bg:             $gray-lighter;
$nav-tabs-active-link-hover-color:          $gray-dark; //$gray-lighter;
$nav-tabs-active-link-hover-border-color:   $gray-lighter;

$nav-tabs-justified-link-border-color:            #ddd;
$nav-tabs-justified-active-link-border-color:     $body-bg;

//== Pills
$nav-pills-border-radius:                   $border-radius-base;
$nav-pills-active-link-hover-bg:            $component-active-bg;
$nav-pills-active-link-hover-color:         $component-active-color;


//== Pagination
//
//##

$pagination-color:                     $link-color;
$pagination-bg:                        #fff;
$pagination-border:                    #ddd;

$pagination-hover-color:               $link-hover-color;
$pagination-hover-bg:                  $gray-lighter;
$pagination-hover-border:              #ddd;

$pagination-active-color:              #fff;
$pagination-active-bg:                 $brand-primary;
$pagination-active-border:             $brand-primary;

$pagination-disabled-color:            $gray-light;
$pagination-disabled-bg:               #fff;
$pagination-disabled-border:           #ddd;


//== Pager
//
//##

$pager-bg:                             $pagination-bg;
$pager-border:                         $pagination-border;
$pager-border-radius:                  15px;

$pager-hover-bg:                       $pagination-hover-bg;

$pager-active-bg:                      $pagination-active-bg;
$pager-active-color:                   $pagination-active-color;

$pager-disabled-color:                 $pagination-disabled-color;


//== Jumbotron
//
//##

$jumbotron-padding:              30px;
$jumbotron-color:                inherit;
$jumbotron-bg:                   $gray-lighter;
$jumbotron-heading-color:        inherit;
$jumbotron-font-size:            ceil(($font-size-base * 1.5));


//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             $gray-darker;
$state-success-bg:               lighten($brand-success, 40%);
$state-success-border:           $brand-success;

$state-info-text:                $gray-darker;
$state-info-bg:                  lighten($brand-info, 40%);
$state-info-border:              $brand-info;

$state-warning-text:             $gray-darker;
$state-warning-bg:               lighten($brand-warning, 45%);
$state-warning-border:           $brand-warning;

$state-danger-text:              $gray-darker;
$state-danger-bg:                lighten($brand-danger, 50%);
$state-danger-border:            $brand-danger;


//== Tooltips
//
//##

$tooltip-max-width:           200px;
$tooltip-color:               #fff;
$tooltip-bg:                  #000;
$tooltip-opacity:             0.9;

$tooltip-arrow-width:         5px;
$tooltip-arrow-color:         $tooltip-bg;


//== Popovers
//
//##

$popover-bg:                          $gray;
$popover-max-width:                   276px;
$popover-border-color:                rgba(0,0,0,.2);
$popover-fallback-border-color:       #ccc;

$popover-title-bg:                    darken($popover-bg, 3%);

$popover-arrow-width:                 7px;
$popover-arrow-color:                 $gray-light;

$popover-arrow-outer-width:           ($popover-arrow-width + 1);
$popover-arrow-outer-color:           rgba(0,0,0,.25);
$popover-arrow-outer-fallback-color:  #999;


//== Labels
//
//##

$label-default-bg:            $gray-light;
$label-primary-bg:            $brand-primary;
$label-success-bg:            $brand-success;
$label-info-bg:               $brand-info;
$label-warning-bg:            $brand-warning;
$label-danger-bg:             $brand-danger;

$label-color:                 $black;
$label-link-hover-color:      #fff;


//== Modals
//
//##

$modal-inner-padding:         14px;

$modal-title-padding:         14px;
$modal-title-line-height:     $line-height-base;

$modal-content-bg:                             $gray;
$modal-content-border-color:                   rgba(0,0,0,.2);
$modal-content-fallback-border-color:          #999;

$modal-backdrop-bg:           #000;
$modal-backdrop-opacity:      .3;
$modal-header-border-color:   #e5e5e5;
$modal-footer-border-color:   $modal-header-border-color;

$modal-lg:                    1100px;
$modal-md:                    700px;
$modal-sm:                    300px;


//== Alerts
//
//## Define alert colors, border radius, and padding.

$alert-padding:               15px;
$alert-border-radius:         $border-radius-base;
$alert-link-font-weight:      bold;

$alert-success-bg:            $state-success-bg;
$alert-success-text:          $state-success-text;
$alert-success-border:        $state-success-border;

$alert-info-bg:               $state-info-bg;
$alert-info-text:             $state-info-text;
$alert-info-border:           $state-info-border;

$alert-warning-bg:            $state-warning-bg;
$alert-warning-text:          $state-warning-text;
$alert-warning-border:        $state-warning-border;

$alert-danger-bg:             $state-danger-bg;
$alert-danger-text:           $state-danger-text;
$alert-danger-border:         $state-danger-border;


//== Progress bars
//
//##

$progress-bg:                 #f5f5f5;
$progress-bar-color:          #fff;

$progress-bar-bg:             $brand-primary;
$progress-bar-success-bg:     $brand-success;
$progress-bar-warning-bg:     $brand-warning;
$progress-bar-danger-bg:      $brand-danger;
$progress-bar-info-bg:        $brand-info;


//== List group
//
//##

$list-group-bg:                 $gray-lighter;
$list-group-border:             $gray-light;
$list-group-border-radius:      $border-radius-base;

$list-group-hover-bg:           $gray-light;
$list-group-active-color:       $gray-lightest;
$list-group-active-bg:          $component-active-bg;
$list-group-active-border:      $list-group-active-bg;
$list-group-active-text-color:  lighten($list-group-active-bg, 40%);

$list-group-link-color:         #555;
$list-group-link-heading-color: #333;


//== Panels
//
//##

$panel-bg:                    $gray;
$panel-body-padding:          15px;
$panel-border-radius:         5px;

$panel-inner-border:          $gray-dark;
$panel-footer-bg:             darken($modal-content-bg, 3%);

$panel-default-text:          $gray-light;
$panel-default-border:        $gray-darkest;
$panel-default-heading-bg:    darken($modal-content-bg, 3%);

$panel-primary-text:          $gray-darkest;
$panel-primary-border:        $gray-darkest;
$panel-primary-heading-bg:    $brand-primary;

$panel-success-text:          $state-success-text;
$panel-success-border:        $gray-darkest;
$panel-success-heading-bg:    $state-success-bg;

$panel-info-text:             $state-info-text;
$panel-info-border:           $gray-darkest;
$panel-info-heading-bg:       $state-info-bg;

$panel-warning-text:          $gray-darkest;
$panel-warning-border:        $gray-darkest;
$panel-warning-heading-bg:    $brand-warning;

$panel-danger-text:           $state-danger-text;
$panel-danger-border:         $gray-darkest;
$panel-danger-heading-bg:     $state-danger-bg;


//== Thumbnails
//
//##

$thumbnail-padding:           4px;
$thumbnail-bg:                $body-bg;
$thumbnail-border:            #ddd;
$thumbnail-border-radius:     $border-radius-base;

$thumbnail-caption-color:     $text-color;
$thumbnail-caption-padding:   9px;


//== Wells
//
//##

$well-bg:                     $gray-light;
$well-border:                 $gray-dark;


//== Badges
//
//##

$badge-color:                 $gray-lightest;
$badge-link-hover-color:      #fff;
$badge-bg:                    $gray-light;

$badge-active-color:          $link-color;
$badge-active-bg:             #fff;

$badge-font-weight:           bold;
$badge-line-height:           1;
$badge-border-radius:         10px;


//== Breadcrumbs
//
//##

$breadcrumb-padding-vertical:   0px;
$breadcrumb-padding-horizontal: 0px;
$breadcrumb-bg:                 none;
$breadcrumb-color:              $gray-light;
$breadcrumb-active-color:       $green;
$breadcrumb-separator:          "/";


//== Carousel
//
//##

$carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6);

$carousel-control-color:                      #fff;
$carousel-control-width:                      15%;
$carousel-control-opacity:                    .5;
$carousel-control-font-size:                  20px;

$carousel-indicator-active-bg:                #fff;
$carousel-indicator-border-color:             #fff;

$carousel-caption-color:                      #fff;


//== Close
//
//##

$close-font-weight:           bold;
$close-color:                 $red-darker;
$close-text-shadow:           0 1px 0 #fff;


//== Code
//
//##

$code-color:                  $gray-darkest;
$code-bg:                     $gray-light;

$kbd-color:                   $gray-lighter;
$kbd-bg:                      $gray-darker;

$pre-bg:                      $gray-light;
$pre-color:                   $gray-darkest;
$pre-border-color:            #ccc;
$pre-scrollable-max-height:   340px;


//== Type
//
//##

$text-muted:                  $gray-light;
$abbr-border-color:           $gray-light;
$headings-small-color:        $gray-light;
$blockquote-small-color:      $gray-light;
$blockquote-font-size:        ($font-size-base * 1.25);
$blockquote-border-color:     $green;
$page-header-border-color:    $gray-lighter;


//== Miscellaneous
//
//##

//** Horizontal line color.
$hr-border:                   $gray-lighter;

//** Horizontal offset for forms and lists.
$component-offset-horizontal: 120px;

/* SMARTADMIN VARIABLES
 * All variables related specifically to the theme starts from here:
 *
 * Grays moved to front, because they are needed before this point.
 */

// Main Theme Values
//
//##

//== Color Pallet
//
//##
$blueStandard:                  #3276b1;
$blueSky:                       #0091d9;
$blueLight:                     #92a2a8;
$blueDark:                      #4c4f53;
$greenLight:                    #71843f;
$greenDark:                     #496949;
$greenBright:                   #40ac2b;
$orangeDark:                    $orange-dark;
$pinkDark:                      #a8829f;
$purple:                        #6e587a;
$darken:                        #404040;
$lighten:                       #d5e7ec;
$white:                         #ffffff;
$greyDark:                      #525252;
$magenta:                       #6e3671;
$redLight:                      #a65858;
$redBright:                     #ed1c24;
$tealLight:                     #0aa66e;

//== DROPDOWN ANIMATIONS (GLOBAL)
// for full animation list go to: http://daneden.github.io/animate.css/
//##
$animation-type: "flipInX";
$animation-ajax-dropdown: "flipInY";

//== IMAGE PATH & BACKGROUNDS
//
//##

$base-url: "../../img";
//urage: background-image: url("#{$base-url}/images/bg.png");

$html-background-image: "";
$html-background-color: $bg-color;

$body-background-image: "pf-bg.jpg";
$body-background-color: $bg-color;

//== HEADER
//
//##
$smart-navbar-height: 49px;
$smart-navbar-color-start: #f3f3f3;
$smart-navbar-color-end: #e2e2e2;

//== ASIDE WIDTH (NAVIGATION WIDTH & COLOR)
//
//##

// careful when you are resizing this as it may affect lower resoltions
$asideWidth:					      220px;
$asideDataURL:					    "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI5NyUiIHN0b3AtY29sb3I9IiMzYTM2MzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmEyNzI1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==";
$asideColor-start:				  #2a2725; /* left side */
$asideColor-end:				    #3a3633; /* right side */

$asideLinkColor:				    #a8a8a8;
$asideLinkColorHover:			  $white;
$asideLinkColorFocus:			  #c9c9c9;
$asideNavActiveBGColor:			#616161; /* the color that flashes when you click on the first nav element */
$asideNavFontSize:				  $font-size-base+1; // 14px~
$asideNavFontSizeSecondLevel:	$asideNavFontSize;
$asideNavFontSizeThirdLevel:	$asideNavFontSize;

$asideNavExpanIconPush-x:		10px; /* the plus icon that appears on the parent nav when expanding and collapsing */
$asideNavExpanIconPush-y:		10px; /* these values will only address the first parent in the entire nav */

$asideExpanIconSize:			  11px; /* the plus & minus icons */
$asideExpanIconMT:				  2px;  /* margin top */

//== FOOTER
//
//##
$smart-footer-height:       52px;
$smart-footer-padding:      15px ($grid-gutter-width/2) 0;
$smart-footer-background:   $asideColor-start;

//== RIBBON
//
//##
$ribbon-height:					40px;
$ribbonBGColor:					#474544;

//== AJAX DROPDOWN
//
//##

$dropdownbtn-icon-color:		  #c4bab6;

$ajaxdrop-arrow-top-color:		$white;
$ajaxdrop-arrow-bottom-color:	#838383;
$ajaxdropdown-arrow-size:		  7px;
$ajaxdropdown-arrow-bottom:		$ajaxdropdown-arrow-size + 1;
$ajaxdropdown-height:			    365px;

//== SMARTADMIN ZINDEX
//
//##
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)

$fixed-navigation-zindex:		  900;
$fixed-ribbon-zindex:			    $fixed-navigation-zindex+1; //901
$fixed-footer-zindex:			    $fixed-navigation-zindex+1; //901
$morris-hover:					      $fixed-navigation-zindex+3; //903
$left-panel-zindex:				    $fixed-navigation-zindex+4; //904
$hidden-lefthand-menu-zindex:	$fixed-navigation-zindex+3; //903
$ajax-dropdown-zindex:			  $fixed-navigation-zindex+5; //905
$pace-zindex:					        2000;
$tooltip-zindex:				      9999;
$ui-widget-overlay:				    $fixed-navigation-zindex + 49; //949

//== WIDGET TUNING
//
//##

$widgetContentOverflow:			visible;

//== BOOTSTRAP WIZARD
//
//##

$wizard-step-complete:			$tealLight;
$wizard-step-active:			  $blueSky;


//== TOOLTIP FONT
//
//##

$tooltip-font-size:				$font-size-base - 2;
$sparkline-font-size:			$tooltip-font-size;


//== SLIDERS
//
//##

$slider-bar-color:				$blueStandard;
$handle-bg-color:				  #858585;


//== PROGRESS BARS SIZES
//
//##

$progressbar-radius:			0px;
$progressbar-micro:				2px;
$progressbar-xs:				  7px;
$progressbar-sm:				  14px;
$progressbar-lg:				  30px;

//== TABLES
//
//##

$table-header-color-start:	#f2f2f2;
$table-header-color-end:		#fafafa;
