input, select{
  background-color: $gray-dark;
  color: $gray-lighter;
  border: 1px solid $gray-light;
  font-family: $font-family-bold;

  &:focus{
    border-color: $teal-lighter;
  }

  &:-webkit-autofill {
    background-color: $gray-dark !important;
    @include box-shadow(0 0 0 50px $gray-dark inset !important);
    -webkit-text-fill-color: $gray-lighter;
  }

  &:-webkit-autofill:focus {
    @include box-shadow(0 0 0 50px $gray-dark inset !important);
    -webkit-text-fill-color: $gray-lighter;
  }

  // file input
  &::-webkit-file-upload-button{
    background-color: transparent;
    border: none;
    color: $gray-light;
    outline: none;
  }

  &[disabled]{
    @include placeholder(transparent);
  }

  &.pf-select2{
    height: 32px; // supposed to be select2 field (before initialization)
    padding: 6px 12px;
  }
}

textarea{
  min-height: 32px;
  max-height: 400px;
  resize: vertical;
}

fieldset[disabled]{
  .form-control{
    color: $gray-light;
    @include placeholder(transparent);
  }

  .input-icon-left, .input-icon-right{
    .fa-stack{
      i:last-child{
        color: $gray;
      }
    }
  }
}

.pf-form-icon-field {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  option {
    font-family: inherit;
    font-weight: inherit;
  }
}


// form fields with icons groups (stacked icons) ======================================================================
.input-icon-left:not(.input-icon-right){
  .fa-stack:first-child{
    left: 14px;
  }
}

.input-icon-right:not(.input-icon-left){
  .fa-stack:first-child{
    right: 14px;
  }
}

.input-icon-left.input-icon-right{
  .fa-stack:first-child{
    left: 14px;
  }
  .fa-stack:nth-child(2) {
    right: 14px;
  }
}

.input-icon-left, .input-icon-right{
  .fa-stack{
    position: absolute;
    top: 4px;

    i:first-child{
      color: $gray-light;
    }

    i:last-child{
      color: $gray-dark;
    }
  }
}


// buttons ============================================================================================================
.btn{
  // "fake" button (no user interaction)
  &.btn-fake{
    border: none;
    text-align: left;
    cursor: default;
    opacity: 1 !important;
    color: $gray-light !important;
    background-color: $gray !important;
  }

  // progress bar inside button
  .btn-progress{
    position: absolute;
    display: block;
    height: 100%;
    background-color: rgba($green, .2 );
    max-width: 100%;
    width: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    line-height: 30px;
    color: $orange-light;
    font-size: 10px;
    text-align: left;
    @include transition( width 0.1s linear);
  }
}


// drag&drop zone
.pf-form-dropzone{
  border: 2px dashed $gray-darker;
  height: 100px;
  background-color: darken($gray, 3%);
  text-align: center;
  font-size: 20px;
  line-height: 100px;
  margin: 15px 0;
  color: $gray-darker;
  @include border-radius(10px);
  @include transition( color 0.18s ease-out, border-color 0.18s ease-out);

  &:hover{
    color: $teal-lighter;
    border-color: $teal-lighter;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
}


// fix for bootstrap-toggle plugin
.toggle{
  &.btn:active{
    box-shadow: none;
  }
}


.pf-form-field-char-count{
  display: block;
  margin-top: 10px;
}
