.pf-icon{
  display: inline-block;

  &.disabled{
    opacity: 0.5;
    color: $gray-light;
  }
}

.pf-icon-dotlan,.pf-icon-anoik{
  position: relative;
  display: inline-block;
  width: 17px;
  height: 17px;
  opacity: 0.8;
  margin: -5px 0px 0 10px;
}

.pf-icon-dotlan:after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 17px;
  width: 17px;
  margin-top: 4px;
  background: inline-image("/icons/dotlan_logo.png") no-repeat;
}
.pf-icon-anoik:after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 17px;
  width: 17px;
  margin-top: 4px;
  background: inline-image("/icons/anoik_logo.png") no-repeat;
}