@import "compass/css3/border-radius";

body{
  font-family: 'Oxygen Bold';
  color: $gray-light;
}

a{
  color: $teal-dark;

  &:hover{
    color: $teal;
  }
}

// Maps module ===================================================
#pf-map-module{
  margin: 30px 0 0 0;
  padding: 10px;
  // background: rgba($gray, 0.3); // semi transparent

  // Tabs (colored)
  #pf-map-tabs {
    .pf-map-type-default{
      border-top: 2px solid transparent;
    }

    .pf-map-type-global{
      border-top: 2px solid $green;
    }

    .pf-map-type-alliance{
      border-top: 2px solid $blue;
    }

    .pf-map-type-private{
      border-top: 2px solid $teal;
    }
  }

}

// Tooltip ======================================================
.tooltip-inner{
  opacity: 0.8;
  color: $teal;
  background-color: $gray;
  font-family: 'Oxygen Bold';
  padding: 5px 5px;
  @include border-radius(5px);

}

.tooltip.top .tooltip-arrow{
  border-top-color: $gray-light;
}

