.pf-landing-sticky-panel{
  position: fixed;
  min-width: 100px;
  border-radius: 5px;
  padding: 7px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  z-index: 100; // over "gallery slider"
  background: {
    color: rgba(43, 43, 43, 0.7);
  }

  h4{
    margin: 5px 0 10px 0;
  }

  ul{
    margin-bottom: 0;
  }

  ul + h4{
    margin-top: 10px;
  }
}

#pf-landing-server-panel{
  top: 50px;
  left: 10px;
}

#pf-landing-admin-panel{
  bottom: 10px;
  right: 10px;
}