// breadcrumb ============================================================
.breadcrumb{
  li{
    text-transform: capitalize;
  }
}

// routes table ==========================================================
.pf-system-route-table{
  font-size: 10px;
}

// signature table =======================================================

// signature table
.pf-sig-table{
  font-size: 10px;
}

// table icon toolbar
.pf-sig-table-tools{
  height: 45px;
}

.pf-sig-table-tools-action{
  height: 75px;
  display: none; // triggered by js
}

// signature timer/date counter head
th.pf-sig-table-counter{
  padding-right: 20px !important;
}

// signature timer/date counter
.pf-sig-table-counter{
  text-align: right;

  .pf-digit-counter-small{
    width: 20px;
    display: inline-block;
    font-size: 10px;
  }

  .pf-digit-counter-large{
    width: 26px;
    display: inline-block;
    font-size: 10px;
  }
}
