.pf-system-info-module{

  // breadcrumb ============================================================
  .breadcrumb{

    font-family: $font-family-bold;

    li{
      text-transform: capitalize;
    }
  }

  // system info table =====================================================
  .pf-system-info-table{
    padding-right: 7px;
    font-family: $font-family-bold;
  }

  // system effects popover ================================================
  .popover table{
    color: $gray-lighter;
    font-size: 10px;

    td{
      padding: 0 5px;
    }
  }

  // system info killboard graph ===========================================
  .pf-system-info-graph-kills{
    width: 100%;
    height: 150px;
    padding: 10px 0;
    position: relative;
  }

  // routes table ==========================================================
  .pf-system-route-table{
    font-size: 10px;
  }

}


.pf-sig-table-module{

  // signature table =======================================================

  .pf-sig-table{
    font-size: 10px;

    .pf-sig-table-edit-name-input{
      text-transform: uppercase;
    }

    // signature timer/date counter head
    th.pf-sig-table-counter{
      padding-right: 20px !important;
    }

    // signature timer/date counter
    .pf-sig-table-counter{
      text-align: right;

      .pf-digit-counter-small{
        width: 20px;
        display: inline-block;
        font-size: 10px;
      }

      .pf-digit-counter-large{
        width: 26px;
        display: inline-block;
        font-size: 10px;
      }
    }

    // row Tooltip
    .popover-content{
      table{
        border-spacing: 0;
        tr{
          background-color: $gray;

          &:not(:last-child){

            td{
              border-bottom: 1px solid $gray-dark;
            }
          }

          td{
            padding: 2px 5px;

            &:first-child{
              color: $gray-light;
            }

            &:last-child{
              color: $gray-lighter;
            }
          }
        }
      }
    }
  }

  // table icon toolbar
  .pf-sig-table-tools{
    height: 45px;

    .btn:not(:last-child){
      margin-right: 10px;
    }
  }

  .pf-sig-table-tools-action{
    height: 75px;
    display: none; // triggered by js
  }

}




