<div class="row" id="{{id}}">
    <div class="col-sm-12">
        <form  role="form" class="form-horizontal">

            <div class="row text-center">
                {{#currentUserData.character}}
                    <div class="col {{gridClass}}">
                        <div class="pf-dialog-dynamic-area">
                            <div data-id="{{characterId}}" class="{{imageWrapperClass}}
                            {{#isMain}}
                                {{imageWrapperMainClass}}
                            {{/isMain}}
                            ">
                                <div class="pf-dialog-image">
                                    <img class="pf-dialog-character-image" src="https://image.eveonline.com/Character/{{characterId}}_128.jpg" alt="{{characterName}}"/>

                                    <div class="{{imageInfoClass}}">
                                        <div style="width: 128px">
                                            {{#corporationId}}
                                                <img src="https://image.eveonline.com/Corporation/{{corporationId}}_32.png"/>
                                                <div class="pf-dialog-character-info-text"><small>{{corporationName}}</small></div>
                                            {{/corporationId}}
                                            {{#allianceId}}
                                                <img src="https://image.eveonline.com/Alliance/{{allianceId}}_32.png"/>
                                            <div class="pf-dialog-character-info-text"><small>{{allianceName}}</small></div>
                                            {{/allianceId}}
                                        </div>
                                    </div>
                                </div>
                                <div class="pf-dialog-character-name"><small>{{characterName}}</small></div>
                            </div>
                        </div>
                    </div>
                {{/currentUserData.character}}
            </div>
        </form>
    </div>
</div>