<ul class="dropdown-menu" id="{{id}}" role="menu" style="display: none">
    {{#items}}
        {{#text}}
            <li data-action="{{action}}" {{#subitems}}class="dropdown-submenu"{{/subitems}} >
                <a href="#" tabindex="-1" data-action="{{action}}"><i class="fas {{#icon}}{{icon}}{{/icon}} fa-fw"></i>&nbsp;{{text}}</a>
                <ul class="dropdown-menu">
                    {{#subitems}}
                        {{#subText}}
                            <li data-action="{{subAction}}">
                                <a href="#" tabindex="-1" data-action="{{subAction}}">
                                    <i class="fas {{#subIcon}}{{subIcon}}{{/subIcon}} {{#subIconClass}}{{subIconClass}}{{/subIconClass}} fa-fw" {{#subChar}}data-char-content="{{subChar}}"{{/subChar}}></i>
                                    &nbsp;{{subText}}
                                </a>
                            </li>
                        {{/subText}}

                        {{#subDivider}}
                            <li class="divider"></li>
                        {{/subDivider}}
                    {{/subitems}}
                </ul>
            </li>
        {{/text}}

        {{#divider}}
            <li class="divider" data-action="{{action}}"></li>
        {{/divider}}
    {{/items}}
</ul>