<div id="{{id}}" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header pull-left">

            <p class="navbar-text  txt-color txt-color-gray"><i class="far fa-copyright"></i>
                {{ currentYear }} <a class="{{footerLicenceLinkClass}}" href="javascript:void(0)" target="_blank">Licence</a>
            </p>
        </div>
        <div class="navbar-header pull-right">
            <p class="navbar-text  txt-color txt-color-gray">All <a href="http://www.eveonline.com/" target="_blank" rel="noopener">EVE ONLINE</a>
                related materials are property of
                <a target="_blank" href="http://www.ccpgames.com/">CCP Games</a></p>
        </div>
    </div>
</div>