<li class="flex-row flex-between media">
    <a class="flex-col" href="{{{zKillboardUrl}}}/kill/{{killmail.killmail_id}}/" target="_blank" rel="noopener">
        <img class="media-object {{config.systemKillboardListImgL}}" src="{{#imgUrlType}}{{killmail.victim.ship_type_id}}{{/imgUrlType}}" title="killmail">
    </a>

    {{#killmail.victim.character_id}}
    <a class="flex-col {{#isPodKill}}badge-victim{{/isPodKill}}" href="{{{zKillboardUrl}}}/character/{{killmail.victim.character_id}}/" target="_blank" rel="noopener">
        <img class="media-object {{config.systemKillboardListImgM}}" src="{{#imgUrlChar}}{{killmail.victim.character_id}}{{/imgUrlChar}}" title="victim KB">
    </a>
    {{/killmail.victim.character_id}}
    {{^killmail.victim.character_id}}
    <a class="flex-col" href="{{{zKillboardUrl}}}/corporation/{{killmail.victim.corporation_id}}/" target="_blank" rel="noopener">
        <img class="media-object {{config.systemKillboardListImgM}}" src="{{#imgUrlCorp}}{{killmail.victim.corporation_id}}{{/imgUrlCorp}}" title="corporation KB">
    </a>
    {{/killmail.victim.character_id}}

    <div class="flex-col flex-grow media-body">
        <h5 class="media-heading">
            <a href="{{{zKillboardUrl}}}/corporation/{{killmail.victim.corporation_id}}/" title="corporation KB" target="_blank" rel="noopener">
                <img class="{{config.systemKillboardListImgS}}" src="{{#imgUrlCorp}}{{killmail.victim.corporation_id}}{{/imgUrlCorp}}">
            </a>
        </h5>
        {{#killmail.victim.alliance_id}}
        <h5 class="media-heading">
            <a href="{{{zKillboardUrl}}}/alliance/{{killmail.victim.alliance_id}}/" title="alliance KB" target="_blank" rel="noopener">
                <img class="{{config.systemKillboardListImgS}}" src="{{#imgUrlAlly}}{{killmail.victim.alliance_id}}{{/imgUrlAlly}}">
            </a>
        </h5>
        {{/killmail.victim.alliance_id}}
    </div>

    {{#attackerFinal}}
        <div class="flex-col badge-attacker" {{#attackerBadge}}style="--label: '{{label}}'; --color: {{color}}"{{/attackerBadge}}>
            <img class="media-object {{config.systemKillboardListImgL}}" src="{{#imgUrlType}}{{ship_type_id}}{{/imgUrlType}}">
        </div>

        <a class="flex-col" href="{{{zKillboardUrl}}}/character/{{character_id}}/" target="_blank" rel="noopener">
            <img class="media-object {{config.systemKillboardListImgM}}" src="{{#imgUrlChar}}{{character_id}}{{/imgUrlChar}}" title="attacker KB">
        </a>

        <div class="flex-col media-body">
            <h5 class="media-heading">
                <a href="{{{zKillboardUrl}}}/corporation/{{corporation_id}}/" title="corporation KB" target="_blank" rel="noopener">
                    <img class="{{config.systemKillboardListImgS}}" src="{{#imgUrlCorp}}{{corporation_id}}{{/imgUrlCorp}}">
                </a>
            </h5>
            {{#alliance_id}}
            <h5 class="media-heading">
                <a href="{{{zKillboardUrl}}}/alliance/{{alliance_id}}/" title="alliance KB" target="_blank" rel="noopener">
                    <img class="{{config.systemKillboardListImgS}}" src="{{#imgUrlAlly}}{{alliance_id}}{{/imgUrlAlly}}">
                </a>
            </h5>
            {{/alliance_id}}
        </div>
    {{/attackerFinal}}

    <div class="flex-col media-body text-right">
        <h3 class="media-heading-location">
            {{#system.name}}
                {{system.name}}
            {{/system.name}}
            {{^system.name}}
                {{killmail.solar_system_id}}
            {{/system.name}}
        </h3>
        <h3 class="media-heading-isk txt-color txt-color-green">{{#iskFormat}}{{zkb.totalValue}}{{/iskFormat}}</h3>
        <h3 class="media-heading-date">{{#dateFormat}}{{killmail.killmail_time}}{{/dateFormat}}</h3>
    </div>
</li>