{{#tableData}}
    {{#killmails.length}}
        {{#checkRender}}
            <h5>{{label}} ago</h5>

            <ul class="media-list {{systemKillboardListClass}}">
                {{#killmails}}
                {{#checkRender}}
                <li class="media {{systemKillboardListEntryClass}}">
                    <a href="{{{zKillboardUrl}}}/kill/{{killmail_id}}/" target="_blank" rel="noopener">
                        <img src="{{{ccpImageServerUrl}}}/Type/{{victim.ship_type_id}}_64.png" class="media-object pull-left {{systemKillboardListImgShip}}" title="killmail">
                    </a>

                    <a href="{{{zKillboardUrl}}}/character/{{victim.character_id}}/" target="_blank" rel="noopener">
                        <img src="{{{ccpImageServerUrl}}}/Character/{{victim.character_id}}_32.jpg" class="media-object pull-left {{systemKillboardListImgChar}}" title="pilot KB">
                    </a>

                    <div class="media-body pull-right text-right">
                        <h5 class="media-heading">
                            <small>{{#dateFormat}}{{killmail_time}}{{/dateFormat}}</small>
                        </h5>
                        <h3 class="media-heading">
                            <small class="txt-color txt-color-green">{{#iskFormat}}{{zkb.totalValue}}{{/iskFormat}}</small>
                        </h3>
                    </div>

                    <div class="media-body">
                        <h5 class="media-heading">
                            <a href="{{{zKillboardUrl}}}/corporation/{{victim.corporation_id}}/" title="corporation KB" target="_blank" rel="noopener">
                                <img src="{{{ccpImageServerUrl}}}/Corporation/{{victim.corporation_id}}_32.png" class="{{systemKillboardListImgCorp}}">
                            </a>
                        </h5>
                        {{#victim.alliance_id}}
                        <h5 class="media-heading">
                            <a href="{{{zKillboardUrl}}}/alliance/{{victim.alliance_id}}/" title="alliance KB" target="_blank" rel="noopener">
                                <img src="{{{ccpImageServerUrl}}}/Alliance/{{victim.alliance_id}}_32.png" class="{{systemKillboardListImgAlly}}">
                            </a>
                        </h5>
                        {{/victim.alliance_id}}
                    </div>
                </li>
                {{#increaseCount}}{{/increaseCount}}
                {{/checkRender}}
                {{/killmails}}
            </ul>
        {{/checkRender}}
    {{/killmails.length}}
{{/tableData}}

