{{#isWebSocket}}
    <dl class="dl-horizontal pull-left">
        <dt title="Map sync method">Connected</dt>
        <dd>WebSocket</dd>
        <dt>Status</dt>
        <dd class="txt-color {{syncStatus.webSocket.class}}">{{syncStatus.webSocket.status}}</dd>
        <dt>Active</dt>
        <dd class="{{timestampCounterClass}}" title="Last data push received">{{syncStatus.webSocket.timestamp}}</dd>
    </dl>

    <dl class="dl-horizontal pull-left">
        <dt></dt>
        <dd>SharedWorker</dd>
        <dt></dt>
        <dd class="txt-color {{syncStatus.sharedWorker.class}}">{{syncStatus.sharedWorker.status}}</dd>
        <dt></dt>
        <dd>&nbsp;</dd>
    </dl>
{{/isWebSocket}}

{{#isAjax}}
    <dl class="dl-horizontal pull-left">
        <dt title="Map sync method">Type</dt>
        <dd>Ajax <span class="txt-color txt-color-grayLight">(long polling)</span></dd>
        <dt>Status</dt>
        <dd class="txt-color {{syncStatus.ajax.class}}">{{syncStatus.ajax.status}}</dd>
        <dt>Last sync</dt>
        <dd class="{{timestampCounterClass}}" title="Last map sync">{{syncStatus.ajax.timestamp}}</dd>
    </dl>
{{/isAjax}}

