<div class="pf-module-head">
    <h5 class="pull-right {{#systemNameClass}}{{system.security}}{{/systemNameClass}}" data-toggle="tooltip" data-placement="top" data-container="body" title="alias">
        {{#system.alias}}
        {{system.alias}}
        {{/system.alias}}
        {{^system.alias}}
        {{system.name}}
        {{/system.alias}}
    </h5>

    <h5 class="pf-module-handler-drag"></h5>
    <h5>
        <span data-toggle="tooltip" data-placement="top" data-container="body" title="system" class="{{#systemNameClass}}{{system.security}}{{/systemNameClass}}">{{system.name}}</span>
        {{#system.locked}}
        <i class="fas fa-fw fa-lock"></i>
        {{/system.locked}}
        <i class="fas fa-fw fa-angle-double-right"></i>
    </h5>
    <h5><a href="javascript:void(0);" data-url="{{ajaxConstellationInfoUrl}}/{{system.constellation.id}}" class="{{systemConstellationLinkClass}} popup-ajax {{#systemNameClass}}{{system.security}}{{/systemNameClass}}" title="constellation">{{system.constellation.name}}</a>&nbsp;<i class="fas fa-fw fa-angle-double-right"></i></h5>
    <h5><span class="{{systemRegionLinkClass}} {{#systemNameClass}}{{system.security}}{{/systemNameClass}}" data-toggle="tooltip" data-placement="top" data-container="body" title="region">{{system.region.name}}</span>&nbsp;<i class="fas fa-fw fa-angle-double-right"></i></h5>
    <h5><span class="{{systemTypeLinkClass}}" data-toggle="tooltip" data-placement="top" data-container="body" title="type">{{systemTypeName}}</span></h5>

    {{#systemIsWormhole}}
        <a href="http://evemaps.dotlan.net/system/{{system.name}}" class="pf-icon pf-icon-dotlan" data-toggle="tooltip" data-placement="top" data-container="body" title="dotlan" target="_blank"></a>
    {{/systemIsWormhole}}
    {{^systemIsWormhole}}
        <a href="http://evemaps.dotlan.net/map/{{system.region.name}}/{{system.name}}" class="pf-icon pf-icon-dotlan" data-toggle="tooltip" data-placement="top" data-container="body" title="dotlan" target="_blank"></a>
    {{/systemIsWormhole}}

    {{#systemIsWormhole}}
        <a href="http://anoik.is/systems/{{system.name}}" class="pf-icon pf-icon-anoik" data-toggle="tooltip" data-placement="top" data-container="body" title="anoik" target="_blank"></a>
    {{/systemIsWormhole}}
</div>

<div class="row">

    {{! info text ================================================================================================ }}
    <div class="col-xs-12 col-sm-7">
        <div class="pf-dynamic-area pf-system-info-description-area">
            <i class="fas fa-fw fa-lg fa-pencil-alt pull-right pf-module-icon-button {{descriptionButtonClass}}" data-toggle="tooltip" data-container="body" title="edit description"></i>

            <div class="{{tableToolsActionClass}}">
                <a href="#" class="{{descriptionTextareaClass}}"></a>
            </div>
        </div>
    </div>

    {{! info table ================================================================================================ }}
    <div class="col-xs-12 col-sm-5">

        <span data-toggle="tooltip" data-placement="top" data-container="body" title="status" data-status="{{systemStatusId}}" class="label center-block {{statusInfoClass}} {{systemStatusClass}}">
            {{systemStatusLabel}}
        </span>


        <div class="pf-dynamic-area">
            <table class="table table-condensed {{tableClass}}">
                <thead>
                <tr>
                    <th class="pf-table-cell-20 text-right pf-help {{nameInfoClass}}">
                        <i class="fas fa-fw fa-question-circle"></i>
                    </th>
                    <th>Name</th>
                    <th class="text-right {{#systemNameClass}}{{system.security}}{{/systemNameClass}}">{{system.name}}</th>
                    <th class="pf-table-cell-20 text-right {{securityClass}}">{{system.security}}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td>Security</td>
                    <td></td>
                    <td class="text-right {{trueSecClass}}">{{trueSec}}</td>
                </tr>
                {{#effectName}}
                <tr>
                    <td class="text-right pf-help {{effectInfoClass}}">
                        <i class="fas fa-fw fa-question-circle"></i>
                    </td>
                    <td>Effect</td>
                    <td class="text-right pf-font-capitalize">{{effectName}}</td>
                    <td class="text-right"><i class="fas fa-fw fa-square pf-system-effect {{effectClass}}"></i></td>
                </tr>
                {{/effectName}}
                {{#system.statics}}
                <tr>
                    <td class="text-right pf-help {{wormholePrefixClass}}{{name}}">
                        <i class="fas fa-fw fa-question-circle"></i>
                    </td>
                    <td>Static</td>
                    <td class="text-right">{{name}}</td>
                    <td class="text-right {{class}}">{{security}}</td>
                </tr>
                {{/system.statics}}
                {{#shatteredWormholeInfo}}
                <tr>
                    <td class="text-right pf-help"></td>
                    <td>Shattered System</td>
                    <td class="text-right pf-font-capitalize {{securityClass}}">Unknown statics</td>
                    <td class="text-right"></td>
                </tr>
                {{/shatteredWormholeInfo}}
                </tbody>
            </table>
        </div>
    </div>
</div>




