{{#system.alias}}
    <h5 class="pull-right" style="display: inline-block"><span data-toggle="tooltip" data-placement="top" data-container="body" title="alias"><i class="fa fa-fw fa-tag"></i> {{system.alias}}</span></h5>
{{/system.alias}}

<h5 style="display: inline-block">
    <span data-toggle="tooltip" data-placement="top" data-container="body" title="system">{{system.name}}</span>
    {{#system.locked}}
        <i class="fa fa-fw fa-lock"></i>
    {{/system.locked}}
    <i class="fa fa-fw fa-angle-double-right"></i>
</h5>
<h5 style="display: inline-block"><a href="{{system.constellation.id}}" data-toggle="tooltip" data-placement="top" data-container="body" title="constellation">{{system.constellation.name}}</a>&nbsp;<i class="fa fa-fw fa-angle-double-right"></i></h5>
<h5 style="display: inline-block"><a href="{{system.region.id}}" data-toggle="tooltip" data-placement="top" data-container="body" title="region">{{system.region.name}}</a>&nbsp;<i class="fa fa-fw fa-angle-double-right"></i></h5>
<h5 style="display: inline-block"><span data-toggle="tooltip" data-placement="top" data-container="body" title="type">{{systemTypeName}}</span></h5>

<a href="http://evemaps.dotlan.net/system/{{system.name}}" target="_blank">
    <div data-toggle="tooltip" data-placement="top" data-container="body" title="dotlan" class="pf-icon pf-icon-dotlan"></div>
</a>
<a href="http://wh.pasta.gg/{{system.name}}" target="_blank">
    <div data-toggle="tooltip" data-placement="top" data-container="body" title="wormhol" class="pf-icon pf-icon-wormhol-es"></div>
</a>
<a href="https://zkillboard.com/system/{{system.systemId}}" target="_blank">
    <div data-toggle="tooltip" data-placement="top" data-container="body" title="zKillbaord" class="pf-icon pf-icon-zkillboard"></div>
</a>


<div class="row">

    <div class="col-xs-12 col-sm-7">

    </div>
    <div class="col-xs-12 col-sm-5">
        <table class="table table-condensed {{tableClass}}">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="text-right">
                        {{#system.alias}}
                            {{system.alias}}
                        {{/system.alias}}
                        {{^system.alias}}
                            {{system.name}}
                        {{/system.alias}}
                        [ <span class="{{securityClass}}">{{system.security}}</span> ]
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#effectName}}
                    <tr>
                        <td>Effect</td>
                        <td class="text-right pf-font-capitalize">{{effectName}} <i class="fa fa-fw fa-square pf-system-effect {{effectClass}}"></i></td>
                    </tr>
                {{/effectName}}
                {{#system.static}}
                    <tr>
                        <td>Static</td>
                        <td class="text-right">{{name}} [ <span class="{{class}}">{{security}}</span> ]</td>
                    </tr>
                {{/system.static}}
                <tr>
                    <td>Security</td>
                    <td class="text-right {{trueSecClass}}">{{trueSec}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>




