<div class="{{popoverClass}}">
    <table class="table table-condensed">
        <tbody>
        <tr>
            <td>
                <img src="{{ccpImageServerUrl}}/Character/{{created.character.id}}_32.jpg" alt="{{created.character.name}}">
            </td>
            <td class="pf-table-cell-ellipses-auto pf-table-cell-100">
                <i class="fas fa-fw fa-circle pf-user-status {{createdStatusClass}}"></i>
                {{created.character.name}}
            </td>
            <td>
                <div class="well well-sm well-text-number text-center"><i class="fas fa-fw fa-plus"></i>&nbsp;{{createdTime}}</div>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{{ccpImageServerUrl}}/Character/{{updated.character.id}}_32.jpg" alt="{{updated.character.name}}">
            </td>
            <td class="pf-table-cell-ellipses-auto pf-table-cell-100">
                <i class="fas fa-fw fa-circle pf-user-status {{updatedStatusClass}}"></i>
                {{updated.character.name}}
            </td>
            <td>
                <div class="well well-sm well-text-number text-center"><i class="fas fa-fw fa-pen"></i>&nbsp;{{updatedTime}}</div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

