<div class="pf-popover">

    <img class="pull-right" src="//image.eveonline.com/Character/{{created.character.id}}_32.jpg">

    <h6>
        <small>
            <i class="fas fa-fw fa-circle pf-user-status {{createdStatusClass}}"></i>
        </small> {{created.character.name}}
    </h6>


    <div class="well well-sm text-center">
        {{createdTime}}
    </div>

    <div style="height: 1px">&nbsp;</div>

    <img class="pull-right" src="//image.eveonline.com/Character/{{updated.character.id}}_32.jpg">

    <h6>
        <small>
            <i class="fas fa-fw fa-circle pf-user-status {{updatedStatusClass}}"></i>
        </small> {{updated.character.name}}
    </h6>


    <div class="well well-sm text-center">
        {{updatedTime}}
    </div>
</div>

