<table>
    {{#massTotal}}
        <tr>
            <td>Total mass</td>
            <td class="text-right">{{{massTotal}}}</td>
        </tr>
    {{/massTotal}}
    {{#massIndividual}}
        <tr>
            <td>Jump mass</td>
            <td class="text-right">{{{massIndividual}}}</td>
        </tr>
    {{/massIndividual}}
    {{#massRegeneration}}
        <tr>
            <td>Mass regeneration</td>
            <td class="text-right">{{massRegeneration}}</td>
        </tr>
    {{/massRegeneration}}
    {{#maxStableTime}}
        <tr>
            <td>Lifetime</td>
            <td class="text-right">{{maxStableTime}}</td>
        </tr>
    {{/maxStableTime}}
    {{#scanWormholeStrength}}
        <tr>
            <td>Sig strength</td>
            <td class="text-right">{{{scanWormholeStrength}}}</td>
        </tr>
    {{/scanWormholeStrength}}
</table>

