<table>
    {{#massTotal}}
        <tr>
            <td>Max Stable Mass</td>
            <td class="text-right">{{massTotal}}</td>
        </tr>
    {{/massTotal}}
    {{#massIndividual}}
        <tr>
            <td>Max Jump Mass</td>
            <td class="text-right">{{massIndividual}}</td>
        </tr>
    {{/massIndividual}}
    {{#massRegeneration}}
        <tr>
            <td>Max Mass Regeneration</td>
            <td class="text-right">{{massRegeneration}}</td>
        </tr>
    {{/massRegeneration}}
    {{#maxStableTime}}
        <tr>
            <td>Max Lifetime</td>
            <td class="text-right">{{maxStableTime}}</td>
        </tr>
    {{/maxStableTime}}
</table>

