@import "DataTables-1.10.18/_jquery.dataTables";
@import "Buttons-1.5.6/_buttons.dataTables";
@import "Responsive-2.2.2/_responsive.dataTables";
@import "Select-1.3.0/_select.dataTables";
@import "_dataTables-fontAwesome";

/*
@import "_dataTables";
@import "_dataTables-buttons";
@import "_dataTables-fontAwesome";
@import "_dataTables-responsive";
@import "_dataTables-select";
*/