{* splash page *}
<include href="templates/layout/splash.html"/>

<nav id="pf-navbar" class="navbar navbar-default navbar-fixed-top pf-head">
    <div class="container col-sm-12">
        {* Logged IN *}
        <check if="{{ @tplLogged }}">
            <div id="pf-head" class="navbar-header">
                <span class="navbar-brand">
                    <img class="pull-left" style="width: 16px" src="//image.eveonline.com/Corporation/{{ @character->corporationId->id }}_64.png"/>&nbsp;{{ @character->corporationId->name }}
                </span>

                <p class="navbar-text">
                    {{ @character->name }}&nbsp;&nbsp;&nbsp;&nbsp;<span class="label label-{{ @character->roleId->style }}">{{ @character->roleId->label }}</span>
                </p>
            </div>
            <div class="navbar-collapse">
                <ul class="nav navbar-nav navbar-right" role="tablist">
                    <li class="pf-overlay-trigger {{ @tplPage == 'settings' ? 'active' : '' }}"><a href="{{ @BASE }}{{ 'admin', ['*' => '/settings'] | alias }}"><i class="fas fa-fw fa-cogs"></i>&nbsp;Settings</a></li>
                    <li class="pf-overlay-trigger {{ @tplPage == 'members' ? 'active' : '' }}"><a href="{{ @BASE }}{{ 'admin', ['*' => '/members'] | alias }}"><i class="fas fa-fw fa-users"></i>&nbsp;Members</a></li>
                    <li class="pf-overlay-trigger {{ @tplPage == 'maps' ? 'active' : '' }}"><a href="{{ @BASE }}{{ 'admin', ['*' => '/maps'] | alias }}"><i class="fas fa-fw fa-sitemap"></i>&nbsp;Maps</a></li>
                    <li class="pf-overlay-trigger {{ @tplPage == 'activity' ? 'active' : '' }} disabled"><a href="javascript:void(0);"><i class="fas fa-fw fa-chart-line"></i>&nbsp;Activity</a></li>
                    <li class="pf-overlay-trigger {{ @tplPage == 'login' ? 'active' : '' }}"><a href="{{ @BASE }}{{ 'admin', ['*' => '/login'] | alias }}"><i class="fas fa-fw fa-sign-in-alt"></i>&nbsp;SSO</a></li>
                </ul>
            </div>
        </check>
    </div>
</nav>

<include if="{{ @tplPage }}" href="{{ 'templates/admin/' . @tplPage . '.html' }}" />

{* footer *}
<include href="templates/layout/footer_simple.html"/>


