<section id="pf-landing-login">
    <div class="container col-xs-12">

        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                <check if="{{ @tplLogged }}">
                    <true>
                        {* Logged IN *}
                        <h2>
                            <span class="pf-font-capitalize">{{ strtolower(@character->roleId->name) }}</span>
                            <span class="txt-color txt-color-{{ @character->roleId->style }}">{{ @character->roleId->label }}</span>
                            <span>{{ @character->name }}</span>
                        </h2>

                        <p class="lead">
                            You have already admin privileges. Switch character?
                        </p>
                    </true>
                    <false>
                        {* Logged OUT *}
                        <h2><span class="txt-color txt-color-primary">Admin login</span></h2>
                    </false>
                </check>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 pf-landing-pricing-panel">
                <div class="panel panel-default pricing-big">
                    <div class="panel-heading text-left">
                        <h3 class="panel-title">Admin  access</h3>
                    </div>
                    <div class="panel-body no-padding">
                        <div class="price-features price-features-fluid">
                            <ul class="list-unstyled text-left">
                                <li><i class="fas fa-fw fa-caret-right"></i> Click the SSO button below for <em>PATHFINDER</em> access with admin roles</li>
                                <li><i class="fas fa-fw fa-caret-right"></i> Admin roles require at least one of these in-game corporation roles granted to your character</li>
                                <li>
                                    <ul>
                                        <li><i class="fas fa-fw fa-angle-right"></i> <kbd>director</kbd>, <kbd>personnel_manager</kbd> or <kbd>security_officer</kbd></li>
                                    </ul>
                                </li>
                                <li><i class="fas fa-fw fa-caret-right"></i> The admin SSO requires additional <em>ESI</em> scopes to be accepted, in order to get in-game roles from <em>EVE</em></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <include href="templates/modules/sso.html"/>
            </div>
        </div>
    </div>
    <div class="container"></div>
</section>