.note-editor {
  border: 1px solid #a9a9a9;

  &.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;

    .note-editable { background-color: white; }
    .note-editor.fullscreen .note-resizebar { display: none; }
  }
  &.codeview {
    .note-editable { display: none; }
    .note-codeable { display: block; }
  }
  .note-toolbar {
    padding-bottom: 5px;
    padding-left: 5px;
    margin: 0;
    background-color: #f5f5f5;
    border-bottom: 1px solid #a9a9a9;
    > .btn-group {
      margin-top: 5px;
      margin-right: 5px;
      margin-left: 0
    }
    .note-table {
      .dropdown-menu {
        min-width: 0;
        padding: 5px;
        .note-dimension-picker {
          font-size: 18px;
          .note-dimension-picker-mousecatcher {
            position: absolute !important;
            z-index: 3;
            width: 10em;
            height: 10em;
            cursor: pointer;
          }
          .note-dimension-picker-unhighlighted {
            position: relative !important;
            z-index: 1;
            width: 5em;
            height: 5em;
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIj4+Pjp6ekKlAqjAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKhmnaJzPAAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC') repeat;
          }
          .note-dimension-picker-highlighted {
            position: absolute !important;
            z-index: 2;
            width: 1em;
            height: 1em;
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIjd6vvD2f9LKLW+AAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKwNDEVT0AAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC') repeat;
          }
        }
      }
    }
    .note-style {
      h1, h2, h3, h4, h5, h6, blockquote { margin: 0; }
    }

    .note-color {
      .dropdown-toggle {
        width: 20px;
        padding-left: 5px;
      }
      .dropdown-menu {
        min-width: 290px;
        .btn-group {
          margin: 0;
          &:first-child {
            margin: 0 5px;
          }
          .note-palette-title {
            margin: 2px 7px;
            font-size: 12px;
            text-align: center;
            border-bottom: 1px solid #eee;
          }
          .note-color-reset {
            padding: 0 3px;
            margin: 5px;
            font-size: 12px;
            cursor: pointer;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            &:hover { background: #eee; }
          }
        }
      }
    }
    .note-para {
      .dropdown-menu {
        min-width: 165px;
        padding: 5px
      }
      li:first-child {
        margin-bottom: 5px
      }
    }
  }
  .note-statusbar {
  	background-color: #f5f5f5;
    .note-resizebar {
      width: 100%;
      height: 8px;
      cursor: s-resize;
      border-top: 1px solid #a9a9a9;
      .note-icon-bar {
      	width: 20px;
      	margin: 1px auto;
      	border-top: 1px solid #a9a9a9;
      }
    }
  }
  .note-popover {
    .popover {
      max-width: none;
      .popover-content {
      	padding: 5px;
        a {
          display: inline-block;
          max-width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          vertical-align: middle;
        }
        .btn-group + .btn-group {
          margin-left: 5px;
        }
      }
      .arrow { left: 20px; }
    }
  }
  .note-handle {
    .note-control-selection {
      position: absolute;
      display: none;
      border: 1px solid black;
      > div { position: absolute; }
      .note-control-selection-bg {
        width: 100%;
        height: 100%;
        background-color: black;
        -webkit-opacity: .3;
        -khtml-opacity: .3;
        -moz-opacity: .3;
        opacity: .3;
        -ms-filter: alpha(opacity=30);
        filter: alpha(opacity=30);
      }
      .note-control-handle {
        width: 7px;
        height: 7px;
        border: 1px solid black;
      }
      .note-control-holder {
        width: 7px;
        height: 7px;
        border: 1px solid black;
      }
      .note-control-sizing {
        width: 7px;
        height: 7px;
        background-color: white;
        border: 1px solid black;
      }
      .note-control-nw {
        top: -5px;
        left: -5px;
        border-right: 0;
        border-bottom: 0;
      }
      .note-control-ne {
        top: -5px;
        right: -5px;
        border-bottom: 0;
        border-left: none;
      }
      .note-control-sw {
        bottom: -5px;
        left: -5px;
        border-top: 0;
        border-right: 0;
      }
      .note-control-se {
        right: -5px;
        bottom: -5px;
        cursor: se-resize;
      }
      .note-control-selection-info {
        right: 0;
        bottom: 0;
        padding: 5px;
        margin: 5px;
        font-size: 12px;
        color: white;
        background-color: black;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-opacity: .7;
        -khtml-opacity: .7;
        -moz-opacity: .7;
        opacity: .7;
        -ms-filter: alpha(opacity=70);
        filter: alpha(opacity=70);
      }
    }
  }
  .note-dialog {
    > div {
      display: none;
    }
    .note-image-dialog .note-dropzone {
    	min-height: 200px;
    	font-size: 30px;
    	line-height: 6;
    	color: lightgray;
    	text-align: center;
    	border: 4px dashed lightgray;
    }
    .note-help-dialog {
      font-size: 12px;
      color: #ccc;
      background: transparent;
      background-color: #222 !important;
      border: 0;
      -webkit-opacity: .9;
      -khtml-opacity: .9;
      -moz-opacity: .9;
      opacity: .9;
      -ms-filter: alpha(opacity=90);
      filter: alpha(opacity=90);
      .modal-content {
      	background: transparent;
      	border: 1px solid white;
      	-webkit-border-radius: 5px;
      	-moz-border-radius: 5px;
      	border-radius: 5px;
      	-webkit-box-shadow: none;
      	-moz-box-shadow: none;
      	box-shadow: none;
      }
      a {
      	font-size: 12px;
      	color: white;
      }
      .title {
      	padding-bottom: 5px;
      	font-size: 14px;
      	font-weight: bold;
      	color: white;
      	border-bottom: white 1px solid;
      }
      .modal-close {
      	font-size: 14px;
      	color: #dd0;
      	cursor: pointer;
      }
      .note-shortcut-layout {
      	width: 100%;
        td {
          vertical-align: top;
        }
      }
      .note-shortcut {
      	margin-top: 8px;
        th {
          font-size: 13px;
          color: #dd0;
          text-align: left;
        }
        td:first-child {
          min-width: 110px;
          padding-right: 10px;
          font-family: "Courier New";
          color: #dd0;
          text-align: right;
        }
      }
    }
  }
  .note-editable {
    padding: 10px;
    overflow: scroll;
    outline: 0;
  }
  .note-codeable {
    display: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 0;
    font-family: Menlo, Monaco, monospace, sans-serif;
    font-size: 14px;
    color: #ccc;
    background-color: #222;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
  }
  .dropdown-menu {
    min-width: 90px;
    &.right {
      right: 0;
      left: auto;
      &::before {
        right: 9px;
        left: auto !important;
      }
      &::after {
        right: 10px;
        left: auto !important;
      }
    }
    li a {
      i {
        color: deepskyblue;
        visibility: hidden;
      }
      &.checked i {
        visibility: visible;
      }
    }
  }
  .note-color-palette {
    line-height: 1;
    div {
      .note-color-btn {
        width: 17px;
        height: 17px;
        padding: 0;
        margin: 0;
        border: 1px solid #fff;
        &:hover {
          border: 1px solid #000;
        }
      }
    }
  }
  .no-padding & { border: none; }
}
  

/* adjustment */

.note-editor .note-editable { background-color: rgba(48, 126, 204, 0.05); }
.note-editor .note-editable:focus { background-color: #fff; }
.note-editor .note-statusbar .note-resizebar { border-top: 1px solid #DBDBDB; }
.note-editor .note-statusbar:hover { background: #EEE; }
.note-editor .note-statusbar:active { background: #eaeaea; }
