<div class="pf-splash">
    <div class="pf-color-line"></div>
    <div class="pf-splash-title">
        <h1>PATHFINDER - System Mapping Tool</h1>
        <p>
            <em class="pf-brand">pathfinder</em> is an open source mapping tool for <em class="pf-brand"><a href="http://www.eveonline.com/" target="_blank">EVE ONLINE</a></em>.
        </p>
        <img src="public/img/loading-bars.svg" width="48" height="48">
    </div>
</div>

<nav id="pf-navbar" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div id="pf-head" class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.html" class="navbar-brand pf-register-button">Register</a>
            <p class="navbar-text">
                <span class="badge txt-color txt-color-grayLight">v.0.02 beta</span>
            </p>

        </div>
        <div  class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" role="tablist">
                <li><a class="page-scroll" data-anchor="#page-top">Home</a></li>
                <li> <a class="page-scroll" data-anchor="#pf-landing-login">Login</a></li>
                <li><a class="page-scroll" data-anchor="#pf-landing-map">Map</a></li>
                <li> <a class="page-scroll" data-anchor="#pf-landing-gallery">Gallery</a></li>
                <li> <a class="page-scroll" data-anchor="#pf-landing-pricing">Pricing</a></li>
                <li><a class="page-scroll" data-anchor="#pf-landing-contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

{* header *}
<header id="page-top">
    <div id="pf-header-container">
        <canvas id="pf-header-canvas" width="500" height="480"></canvas>
        <div class="container">
            <div id="pf-logo-container"></div>

            <div id="pf-header-preview-container" class="hidden-xs hidden-sm">
                <div id="pf-header-preview-intel" class="pf-header-preview-element pull-left"></div>
                <div id="pf-header-preview-map" class="pf-header-preview-element pull-left"></div>
                <div id="pf-header-preview-scope" class="pf-header-preview-element pull-left"></div>
                <div id="pf-header-preview-signature" class="pf-header-preview-element pull-left"></div>
                <div id="pf-header-preview-data" class="pf-header-preview-element pull-left"></div>
                <div id="pf-header-preview-gameplay" class="pf-header-preview-element pull-left"></div>

            </div>
        </div>
    </div>
</header>


{* login form*}
<section id="pf-landing-login">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <h2><span class="text-primary">Please</span> log in</h2>
            </div>
        </div>
        <form id="pf-login-form" class="" role="form" method="post" action="#">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-3">
                        <div class="form-grouppf-animate-on-visible">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-fw fa-user"></i></div>
                                <input type="text" class="form-control" name="userName" id="userName" placeholder="Username" autocomplete="off" tabindex="1" data-error="Username required" required>
                            </div>
                            <div class="help-block with-errors text-left"></div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-fw fa-lock"></i></div>
                                <input type="password" class="form-control" name="userPassword" id="userPassword" placeholder="Password" autocomplete="off" tabindex="2" data-error="Password required" required>
                            </div>
                            <div class="help-block with-errors text-left"></div>
                        </div>
                    </div>
                </div>
            </div>

            {* login message container*}
            <div class="row text-left">
                <div id="pf-login-message-container" class="col-sm-8 col-sm-offset-2"></div>
            </div>

            <div class="row text-center">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button class="pf-register-button btn-block btn btn-primary" tabindex="4"><i class="fa fa-fw fa-user-plus"></i> Register</button>
                    </div>
                    <div class="col-sm-4">
                        <button class="pf-login-button btn-block btn btn-success" tabindex="3"><i class="fa fa-fw fa-sign-in"></i> Login</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

{* demo map *}
<section id="pf-landing-map" class="hidden-xs hidden-sm">
    <div class="container">
        <div id="pf-header-map">
            <div id="pf-header-systems" class="pf-header-svg-layer"></div>
            <div id="pf-header-connectors" class="pf-header-svg-layer"></div>
            <div id="pf-header-connections" class="pf-header-svg-layer"></div>
            <div id="pf-header-background" class="pf-header-svg-layer">
                <include href="templates/ui/header_bg.html" />
            </div>
        </div>
    </div>
</section>

{* gallery *}
<section id="pf-landing-gallery">
    <div id="pf-landing-gallery-thumb-container" class="container">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                <h2><span class="text-primary">Impressions and</span> Screenshots</h2>
                <p>
                    In this section you can find a small collection of screenshots and impressions out of <em>PATHFINDER</em>. They should give you a feeling of what you can expect from the App.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <div class="form-group">
                    <label for="userName" class="col-sm-2 control-label">Interface</label>
                </div>
            </div>

            <a class="pf-animate-on-visible pf-animate" href="http://i.imgur.com/z2jv77L.png" data-description="Logo" data-gallery="#pf-gallery">
                <img src="http://i.imgur.com/z2jv77Ls.jpg" alt="Logo">
            </a>
        </div>

        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <div class="form-group">
                    <label for="userName" class="col-sm-2 control-label">Map</label>
                </div>
            </div>

            <a class="pf-animate-on-visible pf-animate" href="http://i.imgur.com/z2jv77L.png" data-description="Logo" data-gallery="#pf-gallery">
                <img src="http://i.imgur.com/z2jv77Ls.jpg" alt="Logo">
            </a>
        </div>

        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <div class="form-group">
                    <label for="userName" class="col-sm-2 control-label">System&nbsp;module</label>
                </div>
            </div>

            <a class="pf-animate-on-visible pf-animate" href="http://i.imgur.com/z2jv77L.png" data-description="Logo" data-gallery="#pf-gallery">
                <img src="http://i.imgur.com/z2jv77Ls.jpg" alt="Logo">
            </a>
        </div>

        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <div class="form-group">
                    <label for="userName" class="col-sm-2 control-label">Statistics&nbsp;module</label>
                </div>
            </div>

            <a class="pf-animate-on-visible pf-animate" href="http://i.imgur.com/z2jv77L.png" data-description="Logo" data-gallery="#pf-gallery">
                <img src="http://i.imgur.com/z2jv77Ls.jpg" alt="Logo">
            </a>
        </div>

        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <div class="form-group">
                    <label for="userName" class="col-sm-2 control-label">Signature&nbsp;module</label>
                </div>
            </div>

            <a class="pf-animate-on-visible pf-animate" href="http://i.imgur.com/z2jv77L.png" data-description="Logo" data-gallery="#pf-gallery">
                <img src="http://i.imgur.com/z2jv77Ls.jpg" alt="Logo">
            </a>
        </div>

        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <div class="form-group">
                    <label for="userName" class="col-sm-2 control-label">Route&nbsp;module</label>
                </div>
            </div>

            <a class="pf-animate-on-visible pf-animate" href="http://i.imgur.com/z2jv77L.png" data-description="Logo" data-gallery="#pf-gallery">
                <img src="http://i.imgur.com/z2jv77Ls.jpg" alt="Logo">
            </a>
        </div>

        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <div class="form-group">
                    <label for="userName" class="col-sm-2 control-label">Killboard&nbsp;module</label>
                </div>
            </div>

            <a class="pf-animate-on-visible pf-animate" href="http://i.imgur.com/z2jv77L.png" data-description="Logo" data-gallery="#pf-gallery">
                <img src="http://i.imgur.com/z2jv77Ls.jpg" alt="Logo">
            </a>
        </div>
    </div>
</section>

{* pricing *}
<section id="pf-landing-pricing">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                <h2><span class="text-primary">Pricing and</span> Bundles</h2>
                <p>
                    Choose the bundle that meets the requirements you need. If you just want to try out <em>PATHFINDER</em>, start with the <em>Private</em> bundle.
                    This bundle will always be free of charge and is the most suitable for solo players or smaller groups.
                </p>
            </div>
        </div>


        <div class="row text-center">
            <div class="col-xs-12 col-sm-6 col-md-4 pf-landing-pricing-panel">
                <div class="panel panel-default pricing-big pf-animate pf-animate-on-visible">
                    <div class="ribbon-wrapper fade"><div class="ribbon ribbon-orange">BETA</div></div>

                    <div class="panel-heading">
                        <h3 class="panel-title">Basic</h3>
                    </div>
                    <div class="panel-body no-padding text-align-center">
                        <div class="the-price">
                            <h6 class="txt-color txt-color-green">FREE</h6>
                        </div>
                        <div class="price-features">
                            <ul class="list-unstyled text-left">
                                <li><i class="fa fa-fw fa-check txt-color txt-color-green"></i> Create up to <span class="badge">3</span> private maps</li>
                                <li><i class="fa fa-fw fa-check txt-color txt-color-green"></i> Share maps between up to <span class="badge">10</span> users</li>
                                <li><i class="fa fa-fw fa-check txt-color txt-color-green"></i> System information module</li>
                                <li><i class="fa fa-fw fa-check txt-color txt-color-green"></i> System statistics module</li>
                                <li><i class="fa fa-fw fa-check txt-color txt-color-green"></i> System signature module</li>
                                <li><i class="fa fa-fw fa-check txt-color txt-color-green"></i> System route module</li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-footer text-align-center">
                        <button class="btn btn-primary btn-block pf-register-button" role="button">Register</button>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 pf-landing-pricing-panel">
                <div class="panel panel-primary pricing-big pf-animate pf-animate-on-visible">
                    <div class="ribbon-wrapper fade"><div class="ribbon ribbon-orange">BETA</div></div>

                    <div class="panel-heading">
                        <h3 class="panel-title">Corporation</h3>
                    </div>
                    <div class="panel-body no-padding text-align-center">
                        <div class="the-price">
                            <h6 class="txt-color txt-color-tealLighter"><span class="subscript">ISK</span> 100m <span class="subscript">/mo</span></h6>
                        </div>
                        <div class="price-features">
                            <ul class="list-unstyled text-left">
                                <li><i class="fa fa-fw fa-angle-double-right"></i> All <em>public</em> features for corporation members</li>
                                <li><i class="fa fa-fw fa-check txt-color txt-color-green"></i> Create up to <span class="badge">3</span> corporation maps</li>
                                <li><i class="fa fa-fw fa-check txt-color txt-color-green"></i> Share corp maps between up to <span class="badge">3</span> corps</li>
                                <li><i class="fa fa-fw fa-check txt-color txt-color-green"></i> System killboard module</li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-footer text-align-center">
                        <a href="javascript:void(0);" class="btn btn-default btn-block disabled" role="button">Apply for</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6  col-sm-offset-3 col-md-4 col-md-offset-0 pf-landing-pricing-panel">
                <div class="panel panel-primary pricing-big pf-animate pf-animate-on-visible">
                    <div class="ribbon-wrapper fade"><div class="ribbon ribbon-orange">BETA</div></div>

                    <div class="panel-heading">
                        <h3 class="panel-title">Alliance</h3>
                    </div>
                    <div class="panel-body no-padding text-align-center">
                        <div class="the-price">
                            <h6 class="txt-color txt-color-tealLighter"><span class="subscript">ISK</span> 500m <span class="subscript">/mo</span></h6>
                        </div>
                        <div class="price-features">
                            <ul class="list-unstyled text-left">
                                <li><i class="fa fa-fw fa-angle-double-right"></i> All <em>public</em> features for alliance members</li>
                                <li><i class="fa fa-fw fa-angle-double-right"></i> All <em>corporation</em> features for corporations</li>
                                <li><i class="fa fa-fw fa-check txt-color txt-color-green"></i> Create up to <span class="badge">3</span> alliance maps</li>
                                <li><i class="fa fa-fw fa-check txt-color txt-color-green"></i> Share corp maps between up to <span class="badge">2</span> alliances</li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-footer text-align-center">
                        <a href="javascript:void(0);" class="btn btn-default btn-block disabled" role="button">Apply for</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="alert alert-info fade">
            <span class="txt-color txt-color-info">Hint</span>
            <small> During beta testing, all bundles are activated for any pilot! Enjoy testing and don´t forget to give feedback.</small>
        </div>

    </div>
</section>

{* contact form *}
<section id="pf-landing-contact">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                <h2><span class="text-primary">Contact with us</span> anytime</h2>
                <p>
                    Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes.
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4 col-md-offset-3">

                <form class="form-horizontal" role="form" method="post" action="#">
                    <div class="form-group">
                        <label for="contact_name" class="col-sm-2 control-label">Name</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="contact_name" name="contact_name" placeholder="Your full name" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact_email" class="col-sm-2 control-label">Email</label>

                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="contact_email" name="contact_email" placeholder="user@example.com" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact_message" class="col-sm-2 control-label">Message</label>

                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" name="contact_message" id="contact_message" placeholder="Your message here..."></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input id="submit" name="submit" type="submit" value="Send us a message" class="btn btn-success">
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-md-3 text-left">
                <address>
                    <strong><span class="navy">Company name, Inc.</span></strong><br>
                    601 Street name, 123<br>
                    New York, De 34101<br>
                    <abbr title="Phone">P:</abbr> (123) 678-8674
                </address>
                <p class="text-color">
                    Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis ea,
                </p>
            </div>
        </div>
    </div>
</section>





{* hidden dialog *}
<include href="templates/dialog/gallery.html" />
