[globals]

; Verbosity level of the stack trace. Assign values between 0 to 3 for increasing verbosity levels
DEBUG = 1

; If TRUE, the framework, after having logged stack trace and errors, stops execution (die without any status) when a non-fatal error is detected.
HALT = FALSE

ONERROR = "Controller\MapController->showError"

; Path to the index.php main/front controller.
BASE = /exodus4d/pathfinder

; Temporary folder for cache, filesystem locks, compiled F3 templates, etc.
TEMP = tmp/;

; Search path for user interface files used by the View and Template classes' render() method.
UI = public/

; Cache backend. Can handle Memcache module, APC, WinCache, XCache and a filesystem-based cache.
CACHE = TRUE

; Cache timer in seconds
CACHE_DB_CCP = 30


; Search path(s) for user-defined PHP classes that the framework will attempt to autoload at runtime
AUTOLOAD = app/main/

; Pathfinder Database
DB_DNS = mysql:host=localhost;port=3306;dbname=
DB_NAME = pathfinder
DB_USER = root
DB_PASS =

; EVE-Online CCP Database export
DB_CCP_DNS = mysql:host=localhost;port=3306;dbname=
DB_CCP_NAME = eve_phoebe
DB_CCP_USER = root
DB_CCP_PASS =

; Login time (minutes)
LOGIN_TIME = 10

; ======================================================================================================
[PATHFINDER]

NAME = "PATHFINDER"
VERSION = "v0.10"
CONTACT = "https://github.com/exodus4d"

; ======================================================================================================
[api_path]

; Path for CCPs XML APIv2
CCP_XML = "https://api.eveonline.com"



