<div id="{{id}}" class="navbar navbar-default  pf-head" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header pull-left">

            <a class="navbar-brand pf-head-menu" href="#">
                <div class={{brandLogo}}></div>&nbsp;&nbsp;Menu
            </a>

        </div>

        <div class="navbar-header pull-right">
            <p class="navbar-text"><i class="fa fa-user fa-fw"></i> {{userName}}</p>
            <p class="navbar-text"><a href="#"><i class="fa fa-map-marker fa-fw"></i> J155207</a></p>
            <p class="navbar-text txt-color txt-color-green">
                <i class="fa fa-refresh">&nbsp;</i>
                active&nbsp;&nbsp;<span class="badge">4</span></p>
            <a class="navbar-brand pf-head-map" href="#">
                &nbsp;&nbsp;Map&nbsp;<i class="fa fa-code-fork fa-lg fa-fw"></i>
            </a>
        </div>
    </div>
</div>