<div class="navbar navbar-default  pf-head" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header pull-left">

            <!--
            <button type="button" class="btn btn-default navbar-btn pull-left">
                <i class="fa fa-bars fa-lg fa-fw"></i>
            </button>
            -->
<!--
            <button type="button " class="navbar-toggle collapsed navbar-btn" data-toggle="collapse" data-target="#pf-navbar-collapse">
                <i class="fa fa-globe fa-lg fa-fw" style=""></i>
            </button>
-->
            <!--
            <a class="navbar-toggle navbar-brand pull-right" href="#">
                Menu&nbsp;<i class="fa fa-globe fa-lg fa-fw"></i>
            </a> -->

            <a class="navbar-brand pf-head-menu" href="#">
                <i class="fa fa-bars fa-lg fa-fw"></i>&nbsp;Menu
              <!--  <img src="https://image.eveonline.com/Type/17738_32.png" /> -->
            </a>
            <p class="navbar-text">Current system: Jita</p>
        </div>


        <div class="navbar-header pull-right">
            <ul class="nav navbar-nav">
                <li ><a href="#">Test <span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
            </ul>
            <p class="navbar-text">Signed in as {{userName}}</p>
            <a class="navbar-brand pf-head-map" href="#">
                Map&nbsp;<i class="fa fa-globe fa-lg fa-fw"></i>
            </a>


        </div>



        <!-- Collect the nav links, forms, and other content for toggling -->
        <!--
                <div class="collapse navbar-collapse" id="pf-navbar-collapse">


                              <ul class="nav navbar-nav">
                                  <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                                  <li><a href="#">Link</a></li>
                                  <li class="dropdown">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                      <ul class="dropdown-menu" role="menu">
                                          <li><a href="#">Action</a></li>
                                          <li><a href="#">Another action</a></li>
                                          <li><a href="#">Something else here</a></li>
                                          <li class="divider"></li>
                                          <li><a href="#">Separated link</a></li>
                                          <li class="divider"></li>
                                          <li><a href="#">One more separated link</a></li>
                                      </ul>
                                  </li>
                              </ul>



                              <ul class="nav navbar-nav navbar-right">
                                  <li><a href="#">Link</a></li>

                              </ul>

                      <p class="navbar-text navbar-right">Signed in as {{userName}}</p>

                  </div>
           -->
    </div><!-- /.container-fluid -->
</div>