<div class="navbar navbar-default  pf-head" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header pull-left">

            <a class="navbar-brand pf-head-menu" href="#">
                <i class="fa fa-bars fa-lg fa-fw"></i>&nbsp;Menu
              <!--  <img src="https://image.eveonline.com/Type/17738_32.png" /> -->
            </a>
            <p class="navbar-text">Current system: Jita</p>
        </div>


        <div class="navbar-header pull-right">
            <!--
            <ul class="nav navbar-nav">
                <li ><a href="#">Test <span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
            </ul>
            -->
            <p class="navbar-text"><span class="badge bg-color bg-color-teal">7</span>&nbsp;&nbsp;&nbsp;online</p>
            <p class="navbar-text">Signed in as {{userName}}</p>
            <a class="navbar-brand pf-head-map" href="#">
                Map&nbsp;<i class="fa fa-globe fa-lg fa-fw"></i>
            </a>


        </div>


    </div>
</div>