<table class="table table-condensed">
    <thead>
        <tr>
            <th>Ship</th>
            <th class="text-right">Mass</th>
            <th class="text-right">Base Distance</th>
            <th colspan="2" class="text-right">Distance to jump range</th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th class="text-right">min</th>
            <th class="text-right">max</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Covert Ops Frigate</td>
            <td class="text-right">1,280,000</td>
            <td class="text-right">5.5 km</td>
            <td class="text-right">0 km</td>
            <td class="text-right">5.5 km</td>
        </tr>
        <tr>
            <td>Plated T3 Cruiser</td>
            <td class="text-right">14,300,000</td>
            <td class="text-right">6.9 km</td>
            <td class="text-right">0 km</td>
            <td class="text-right">6.9 km</td>
        </tr>
        <tr>
            <td>Plated Bhaalgorn</td>
            <td class="text-right">101,000,000</td>
            <td class="text-right">8.8 km</td>
            <td class="text-right">0 km</td>
            <td class="text-right">8.8 km</td>
        </tr>
        <tr>
            <td>Orca</td>
            <td class="text-right">250,000,000</td>
            <td class="text-right">10.1 km</td>
            <td class="text-right">0.1 km</td>
            <td class="text-right">10.1 km</td>
        </tr>
        <tr>
            <td>Average Carrier</td>
            <td class="text-right">1,120,000,000</td>
            <td class="text-right">13.5 km</td>
            <td class="text-right">3.5 km</td>
            <td class="text-right">13.5 km</td>
        </tr>
        <tr>
            <td>Average Dreadnought</td>
            <td class="text-right">1,240,000,000</td>
            <td class="text-right">13.8 km</td>
            <td class="text-right">3.8 km</td>
            <td class="text-right">13.8 km</td>
        </tr>
    </tbody>
</table>


<blockquote>
    <p>
        The new base distance would scale as high as ~14km from the wormhole for the largest ships, and the random factor for each jump would range from 2km (for a fresh wormhole) to 5km (for a crit wormhole) in either direction.
        The distance from a wormhole that ships must be within to jump will remain 5km as always.
    </p>
    <small> By CCP Fozzie | Mass-Based Spawn Distance after Wormhole Jumps</small>
</blockquote>