<div class="row" id="{{id}}">
    <div class="col-sm-12">
        <form  role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="form_system">System</label>
                <div class="col-sm-10">
                    <input id="form_system" name="name" type="text" placeholder="System name" class="form-control input-md">
                    <span class="help-block">Enter system name</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="form_status">Status</label>
                <div class="col-sm-10">
                    <a class="pf-editable pf-editable-system-status" href="#" id="form_status" data-type="select" data-name="status"></a>
                </div>
            </div>
        </form>
    </div>
</div>