<div class="row" id="{{deleteAccountId}}">
    <div class="col-sm-12">
        <form role="form" class="form-horizontal">

            {{#userData.name}}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Username</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{{userData.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {{/userData.name}}

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <p id="{{captchaImageWrapperId}}" class="form-control-static">
                                <i class="fas fa-fw fa-lg fa-sync pull-right pf-dialog-icon-button collapsed"></i>
                                <img src="" />
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="captcha" class="col-sm-3 control-label">Captcha</label>
                            <div class="col-sm-6">
                                <div class="input-group" title="Enter Captcha" data-placement="right">
                                    <input name="captcha" type="text" class="form-control" id="captcha" data-minlength-error="Min. of 6 characters" placeholder="" data-error="Captcha required" data-minlength="6" maxlength="6" autocomplete="off" required>
                                    <span class="input-group-addon"><i class="fas fa-fw fa-sync"></i></span>
                                </div>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="alert alert-warning">
                <span class="txt-color txt-color-warning">Warning</span>
                <small>This will permanently remove your account!</small>
            </div>

            <div class="{{formErrorContainerClass}} alert alert-danger" style="display: none;">
                <span class="txt-color txt-color-danger">Error</span>
                <small> (important non-critical information)</small>
            </div>

        </form>
    </div>
</div>