<form role="form" class="form-horizontal">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="form-dscan">D-scan</label>
                <div class="col-sm-10">
                    <textarea style="resize: vertical" rows="3"  id="form-dscan" name="clipboard" class="form-control custom-scroll" autofocus></textarea>
                    <span class="help-block">
                        Copy and paste D-Scan result. Press <kbd>ctrl</kbd> + <kbd>c</kbd> (copy)
                        then <kbd>ctrl</kbd> + <kbd>v</kbd> (paste).<br> This tool can add and update structures.
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>