<div id="{{id}}" role="tabpanel">

    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header pull-left">
            <ul class="nav navbar-nav {{dialogNavigationClass}}" role="tablist">
                <li class="active"><a role="tab" data-toggle="tab" href="#{{dialogMapCreateContainerId}}"><i class="fa fa-plus fa-lg fa-fw"></i>&nbsp;New map</a></li>
                {{^hideEditTab}}
                    <li class=""><a role="tab" data-toggle="tab" href="#{{dialogMapEditContainerId}}"><i class="fa fa-edit fa-lg fa-fw"></i>&nbsp;Edit map</a></li>
                {{/hideEditTab}}
                {{^hideSettingsTab}}
                    <li class=""><a role="tab" data-toggle="tab" href="#{{dialogMapSettingsContainerId}}"><i class="fa fa-gears fa-lg fa-fw"></i>&nbsp;Settings</a></li>
                {{/hideSettingsTab}}
            </ul>
        </div>
    </nav>

    <div id="{{dialogMessageContainerId}}"></div>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="{{dialogMapCreateContainerId}}"></div>
        <div role="tabpanel" class="tab-pane fade" id="{{dialogMapEditContainerId}}"></div>
        <div role="tabpanel" class="tab-pane fade" id="{{dialogMapSettingsContainerId}}">sett</div>
    </div>

</div>