<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <ul class="nav navbar-nav {{dialogNavigationClass}}">
                <li class="{{dialogNavLiClass}}"><a data-action="refresh" href="#"><i class="fa fa-refresh fa-lg fa-fw"></i>&nbsp;Refresh</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="alert alert-info fade in hidden-md hidden-lg">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-close"></i></button>
    <span class="txt-color txt-color-information">Info</span>
    <small> Your browser window is to small. Resize it to obtain more columns.</small>
</div>

<h4><i class="fa fa-code-fork fa-lg fa-fw"></i> Map</h4>

<div id="{{mapInfoId}}" class="pf-dynamic-area">
</div>

<h4><i class="fa fa-sun-o fa-lg fa-fw"></i> Systems</h4>

<div id="{{mapInfoSystemsId}}" class="pf-dynamic-area">
</div>

<h4><i class="fa fa-chain fa-lg fa-fw"></i> Connections</h4>

<div id="{{mapInfoConnectionsId}}" class="pf-dynamic-area">
</div>