<div id="{{id}}" class="txt-center">
    {{#content}}
        <h1 style="opacity: 0;" class="text-center txt-color {{class}}">
            <strong>
                <i class="fas {{icon}} fa-fw"></i>{{headline}}
            </strong>
        </h1>
        {{#text}}
            {{#.}}
                <h5 class="text-center">{{.}}</h5>
            {{/.}}
        {{/text}}
        {{#textSmaller}}
            {{#.}}
            <h4 class="text-center">{{.}}</h4>
            {{/.}}
        {{/textSmaller}}
    {{/content}}
</div>
