<form role="form" class="form-horizontal">

    <div class="row">
        <div class="col-sm-11">
            <blockquote>
                <p>
                    The number of active accounts is limited during the beta phase. This restriction may help to find bugs and performance issues.
                    The limit will be increased continuously and fully removed when the beta phase is over.
                </p>
                <small>If the pool of beta keys has been exhausted, please try again in a few days/weeks.
                </small>
            </blockquote>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-6">
                    <div class="input-group" title="Send invite to this address" data-placement="right">
                        <input name="email" type="email" class="form-control" id="email" value="" placeholder="your@email.com" data-error="Email required" autocomplete="off" required>
                        <span class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></span>
                    </div>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="{{formWarningContainerClass}} alert alert-warning" style="display: none;">
        <span class="txt-color txt-color-warning">Warning</span>
        <small> (important non-critical information)</small>
    </div>

    <div class="{{formErrorContainerClass}} alert alert-danger" style="display: none;">
        <span class="txt-color txt-color-danger">Error</span>
        <small> (important non-critical information)</small>
    </div>
</form>