<div id="{{id}}" >

    <form role="form" class="form-horizontal">

        <div class="row">
            <div class="col-sm-11">
                <blockquote>
                    <p>
                        Before other pilots, corporations or alliances can invite you to their maps, you have to enable the associated option.
                    </p>
                    <small>Check out the "<a href="javascript:void(0);" onclick="$(document).triggerMenuEvent('Manual');">manual</a>" for more information
                    </small>
                </blockquote>
            </div>
        </div>


        {{#userData.character}}
            <h2 class="pf-dynamic-area"><img src="{{ccpImageServer}}Character/{{id}}_32.jpg">&nbsp;&nbsp;Private maps "<em class="pf-map-type-private">{{userData.name}}</em>"</h2>


            <div class="row">
                <div class="col-sm-9">
                    <div class="checkbox col-sm-10">
                        <label for="privateSharing">
                            <input id="privateSharing" type="checkbox" name="privateSharing" data-toggle="toggle" value="1" {{#userData.shared}}checked{{/userData.shared}}>
                            &nbsp;map invite for private maps
                        </label>
                    </div>
                </div>
                <div class="col-sm-3">

                </div>
            </div>

            {{#corporation}}
                <h2 class="pf-dynamic-area"><img src="{{ccpImageServer}}Corporation/{{id}}_32.png">&nbsp;&nbsp;Corporation maps "<em class="pf-map-type-corporation">{{name}}</em>"</h2>


                <div class="row">
                    <div class="col-sm-9">
                        <div class="checkbox col-sm-10">
                            <label for="corporationSharing">
                                <input id="corporationSharing" type="checkbox" name="corporationSharing" data-toggle="toggle" value="1" {{#shared}}checked{{/shared}}>
                                &nbsp;map invite for corporation maps
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3">

                    </div>
                </div>

            {{/corporation}}

            {{#alliance}}
                <h2 class="pf-dynamic-area"><img src="{{ccpImageServer}}Alliance/{{id}}_32.png">&nbsp;&nbsp;Alliance maps "<em class="pf-map-type-alliance">{{name}}</em>"</h2>

                <div class="row">
                    <div class="col-sm-9">
                        <div class="checkbox col-sm-10">
                            <label for="allianceSharing">
                                <input id="allianceSharing" type="checkbox" name="allianceSharing" data-toggle="toggle" value="1" {{#shared}}checked{{/shared}}>
                                &nbsp;map invite for alliance maps
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3">

                    </div>
                </div>

            {{/alliance}}
        {{/userData.character}}

    </form>

</div>