<div id="{{id}}" class="row">
    {{#shortcuts}}
        <div class="col-sm-6">
            <h4>{{label}}</h4>

            <table class="table table-condensed" style="font-size: 12px">
                <tbody>
                {{#events}}
                    <tr>
                        <td>{{label}}</td>
                        <td class="text-right">
                            {{#keyNames}}
                                <kbd>{{.}}</kbd>
                                {{^list}}<i class="fas fa-fw fa-plus"></i>{{/list}}
                            {{/keyNames}}
                        </td>
                    </tr>
                {{/events}}
                </tbody>
            </table>
        </div>
    {{/shortcuts}}
</div>