<form role="form" class="form-horizontal">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="form_result">Scan result</label>
                <div class="col-sm-10">
                    <textarea style="resize: vertical" rows="3"  id="form_result" name="clipboard" class="form-control custom-scroll" autofocus></textarea>
                    <span class="help-block">
                        Copy and paste signatures from your probe scanning window.
                        Hit <kbd>ctrl</kbd> + <kbd>c</kbd> (copy)
                        then <kbd>ctrl</kbd> + <kbd>v</kbd> (paste). This tool can add and update signatures.
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 col-xs-9">
                    <div class="checkbox checkbox-warning">
                        <input id="form_delete" name="deleteOld" value="1" type="checkbox">
                        <label for="form_delete" title="old signatures will be removed. Are you sure?">Delete old</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>