<div id="{{id}}">
    <form role="form" class="form-horizontal">
        <div class="col-xs-4 col-sm-3">

            <div class="checkbox {{#desktopRallyEnabled}}checkbox-primary{{/desktopRallyEnabled}}">
                <input id="{{dialogRallyPokeDesktopId}}" name="pokeDesktop" value="1" type="checkbox" {{#desktopRallyEnabled}}checked=""{{/desktopRallyEnabled}}{{^desktopRallyEnabled}}disabled{{/desktopRallyEnabled}}>
                <label for="{{dialogRallyPokeDesktopId}}">Desktop poke
                    <i class="fas fa-fw fa-question-circle pf-help-light" title="Send desktop notifications to active pilots"></i>
                </label>
            </div>

            <div class="checkbox {{#slackRallyEnabled}}checkbox-primary{{/slackRallyEnabled}}">
                <input id="{{dialogRallyPokeSlackId}}" name="pokeSlack" value="1" type="checkbox" {{#slackRallyEnabled}}checked=""{{/slackRallyEnabled}}{{^slackRallyEnabled}}disabled{{/slackRallyEnabled}}>
                <label for="{{dialogRallyPokeSlackId}}">Slack poke
                    <i class="fas fa-fw fa-question-circle pf-help-light" title="Send Slack message to a public channel"></i>
                </label>
            </div>

            <div class="checkbox {{#discordRallyEnabled}}checkbox-primary{{/discordRallyEnabled}}">
                <input id="{{dialogRallyPokeDiscordId}}" name="pokeDiscord" value="1" type="checkbox" {{#discordRallyEnabled}}checked=""{{/discordRallyEnabled}}{{^discordRallyEnabled}}disabled{{/discordRallyEnabled}}>
                <label for="{{dialogRallyPokeDiscordId}}">Discord poke
                    <i class="fas fa-fw fa-question-circle pf-help-light" title="Send Discord message to a public channel"></i>
                </label>
            </div>

            <div class="checkbox {{#mailRallyEnabled}}checkbox-primary{{/mailRallyEnabled}}">
                <input id="{{dialogRallyPokeMailId}}" name="pokeMail" value="1" type="checkbox" {{#mailRallyEnabled}}checked=""{{/mailRallyEnabled}}{{^mailRallyEnabled}}disabled{{/mailRallyEnabled}}>
                <label for="{{dialogRallyPokeMailId}}">Mail poke
                    <i class="fas fa-fw fa-question-circle pf-help-light" title="Send E-Mail with rally point data"></i>
                </label>
            </div>

        </div>
        <div class="col-xs-8 col-sm-9">
            <div class="form-group" style="margin-bottom: 10px;">
                <label for="{{dialogRallyMessageId}}" class="col-sm-2 control-label">Message <span class="txt-color txt-color-grayLight">[optional]</span></label>
                <div class="col-sm-10">
                    <textarea id="{{dialogRallyMessageId}}" name="message" class="form-control" rows="5" placeholder="{{dialogRallyMessageDefault}}"></textarea>
                    <div class="note help-block with-errors">
                        Attach deeplink:
                        <a target="_blank" href="{{systemUrl}}" rel="noopener">{{systemUrl}}</a>
                    </div>
                </div>
            </div>

        </div>

        <input type="hidden" name="systemId" value="{{ systemId }}" />
    </form>


    <div class="flex-row flex-between well well-sm">
        <div class="flex-col">Map config:</div>
        <div class="flex-col" title="Desktop poke">
            <i class="fas fa-fw fa-volume-up"></i>&nbsp;
            {{#desktopRallyEnabled}}
            <kbd class="txt-color txt-color-success">enabled</kbd>
            {{/desktopRallyEnabled}}
            {{^desktopRallyEnabled}}
            <kbd>disabled</kbd>
            {{/desktopRallyEnabled}}
        </div>
        <div class="flex-col" title="Slack poke">
            <i class="fab fa-fw fa-slack-hash"></i>
            {{#slackRallyEnabled}}
            <kbd class="txt-color txt-color-success">enabled</kbd>
            {{/slackRallyEnabled}}
            {{^slackRallyEnabled}}
            <kbd>disabled</kbd>
            {{/slackRallyEnabled}}
        </div>
        <div class="flex-col" title="Discord poke">
            <i class="fab fa-fw fa-discord"></i>&nbsp;
            {{#discordRallyEnabled}}
            <kbd class="txt-color txt-color-success">enabled</kbd>
            {{/discordRallyEnabled}}
            {{^discordRallyEnabled}}
            <kbd>disabled</kbd>
            {{/discordRallyEnabled}}
        </div>
        <div class="flex-col" title="Mail poke">
            <i class="fas fa-fw fa-envelope"></i>&nbsp;
            {{#mailRallyEnabled}}
            <kbd class="txt-color txt-color-success">enabled</kbd>
            {{/mailRallyEnabled}}
            {{^mailRallyEnabled}}
            <kbd>disabled</kbd>
            {{/mailRallyEnabled}}
        </div>
    </div>

</div>