<div id="{{id}}" class="txt-center">
    <div id="{{firstPageId}}">
        <h1 style="opacity: 0;" class="text-center txt-color txt-color-orange">
            <strong>
                <i class="fa fa-unlock fa-fw"></i>Trust this Page
            </strong>
        </h1>
        <h5 class="text-center">Please set trust level for <em class="pf-brand">pathfinder</em></h5>
    </div>


    <div id="{{secondPageId}}" style=" display: none;">
        <h1 style="opacity: 0;" class="text-center txt-color txt-color-green">
            <strong>
                <i class="fa fa-repeat fa-fw"></i>Refresh Page
            </strong>
        </h1>
        <h5 class="text-center">Please refresh this page so that the changes will take effect</h5>
    </div>
</div>
