<a href="{{ link }}?cookie={{ cookieName }}&tabId={{browserTabId}}">
    {{#authOK}}
        {{#isManager}}
            <div class="ribbon-wrapper fade in"><div class="ribbon ribbon-blue">{{ character.role.label }}</div></div>
        {{/isManager}}
        {{#isAdmin}}
            <div class="ribbon-wrapper fade in"><div class="ribbon ribbon-red">{{ character.role.label }}</div></div>
        {{/isAdmin}}
    {{/authOK}}
    {{^authOK}}
        <div class="ribbon-wrapper fade in"><div class="ribbon ribbon-orange">{{ authLabel }}</div></div>
    {{/authOK}}

    <div class="pf-character-image-wrapper {{#hasActiveSession}}pf-character-active{{/hasActiveSession}}">
        <div class="pf-character-select-image">
            <img class="pf-character-image" src="{{ ccpImageServer }}/characters/{{ character.id }}/portrait?size=128" alt="{{ character.name }}"/>

            <div class="pf-character-info">
                <div style="width: 128px">
                    {{#character.corporation}}
                        <img class="pf-character-info-img" src="{{ ccpImageServer }}/corporations/{{ id }}/logo?size=64"/>
                        <div class="pf-character-info-text"><small>{{ name }}</small></div>
                    {{/character.corporation}}
                    {{#character.alliance}}
                        <img class="pf-character-info-img" src="{{ ccpImageServer }}/alliances/{{ id }}/logo?size=64"/>
                        <div class="pf-character-info-text"><small>{{ name }}</small></div>
                    {{/character.alliance}}
                </div>
            </div>
        </div>
        <div class="pf-character-name pf-text-ellipsis">
            <small>{{ character.name }}</small>
        </div>
    </div>
</a>