<a href="{{ link }}?cookie={{ cookieName }}">
    {{#authOK}}
        {{#character.roleId}}
            <div class="ribbon-wrapper fade in"><div class="ribbon ribbon-blue">ADMIN</div></div>
        {{/character.roleId}}
    {{/authOK}}
    {{^authOK}}
        <div class="ribbon-wrapper fade in"><div class="ribbon ribbon-red">{{authLabel}}</div></div>
    {{/authOK}}

    <div class="pf-character-image-wrapper">
        <div class="pf-character-select-image">
            <img class="pf-character-image" src="https://image.eveonline.com/Character/{{ character.id }}_128.jpg" alt="{{ character.name }}"/>

            <div class="pf-character-info">
                <div style="width: 128px">
                    {{#character.corporation}}
                        <img src="https://image.eveonline.com/Corporation/{{ id }}_32.png"/>
                        <div class="pf-character-info-text"><small>{{ name }}</small></div>
                    {{/character.corporation}}
                    {{#character.alliance}}
                        <img src="https://image.eveonline.com/Alliance/{{ id }}_32.png"/>
                        <div class="pf-character-info-text"><small>{{ name }}</small></div>
                    {{/character.alliance}}
                </div>
            </div>
        </div>
        <div class="pf-character-name">
            <small>{{ character.name }}</small>
        </div>
    </div>
</a>