{* Json-LD structured data *}
<check if="{{ @PATHFINDER.CONTACT }}">
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "{{ @PATHFINDER.NAME }}",
        "legalName": "Pathfinder - OpenSource",
        "url": "{{ Exodus4D\Pathfinder\Controller\Controller::getEnvironmentData('URL') }}",
        "logo": "{{@SCHEME.'://'.@HOST.'/'.@BASE.@FAVICON}}favicon-192x192.png",
        "foundingDate": "2014",
        "founders": [{
            "@type": "Person",
            "name": "Exodus4D"
        }],
<check if="{{ @PATHFINDER.EMAIL }}">
        "email": "{{ @PATHFINDER.EMAIL }}",
</check>
        "sameAs": [
            "https://www.youtube.com/c/Pathfinder-wSpace",
            "https://imgur.com/a/k2aVa",
<check if="{{ @PATHFINDER.REPO }}">
            "{{ @PATHFINDER.REPO }}"
</check>
        ]
    }
</script>
</check>