<div class="row text-center">
    <div class="col-xs-12 col-md-8 col-md-offset-2 pf-landing-pricing-panel">
        <div class="panel panel-primary pricing-big">
            <div class="panel-heading" >
                <h3 class="panel-title">New release {{version}}</h3>
            </div>
            <div class="panel-body no-padding text-align-center">
                <div class="price-features" style="min-height: inherit;">
                    <ul class="list-unstyled text-left">
                        <li><i class="fa fa-fw fa-angle-right"></i>New "<a href="#pf-landing-admin">Admin interface</a>" for corporation administration (e.g. kick/ban members)
                            <span class="txt-color txt-color-warning">[BETA]</span>
                            <a target="_blank" href="https://github.com/exodus4d/pathfinder/issues/494">#494</a>
                        </li>
                        <li><i class="fa fa-fw fa-angle-right"></i>New <em>ESI</em> based, in-game <a target="_blank" href="https://github.com/exodus4d/pathfinder/issues/495">online status #495</a> tracking for characters </li>
                        <li><i class="fa fa-fw fa-angle-double-right"></i>Complete <a href="javascript:void(0)" class="pf-navbar-version-info">changelog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>