<div class="row text-center">
    <div class="col-xs-12 col-md-8 col-md-offset-2 pf-landing-pricing-panel">
        <div class="panel panel-default pricing-big">
            <div class="panel-heading txt-color txt-color-green">
                <h3 class="panel-title">New release {{version}}</h3>
            </div>
            <div class="panel-body no-padding text-align-center">

                <div class="price-features text-left" style="min-height: inherit;">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled text-left">
                                <li><i class="fas fa-fw fa-angle-right"></i>New "bubbled" connection flag <a target="_blank" href="//github.com/exodus4d/pathfinder/issues/301" rel="noopener">#301</a></li>
                                <li><i class="fas fa-fw fa-angle-right"></i>New "undo" button for signature table changes <a target="_blank" href="//github.com/exodus4d/pathfinder/issues/218" rel="noopener">#218</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled text-left">
                                <li><i class="fas fa-fw fa-angle-right"></i>New info for "<em>NPC</em> faction" names added to systems <a target="_blank" href="//github.com/exodus4d/pathfinder/issues/773" rel="noopener">#773</a></li>
                                <li><i class="fas fa-fw fa-angle-right"></i>Enhanced language support for signatures (ru, fr, ja, zh) <a target="_blank" href="//github.com/exodus4d/pathfinder/issues/653" rel="noopener">#653</a></li>
                                <li><i class="fas fa-fw fa-angle-double-right"></i>Many more improvements/fixes. Complete <a href="javascript:void(0)" class="pf-navbar-version-info">changelog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>