<div class="row text-center">
    <div class="col-xs-12 col-md-8 col-md-offset-2 pf-landing-pricing-panel">
        <div class="panel panel-default pricing-big">
            <div class="panel-heading txt-color txt-color-green">
                <h3 class="panel-title">New release {{version}}</h3>
            </div>
            <div class="panel-body no-padding text-align-center">
                <div class="price-features" style="min-height: inherit;">
                    <ul class="list-unstyled text-left">
                        <li><i class="fas fa-fw fa-angle-right"></i>New module for Intel tracking (e.g. Citadel information) added <a target="_blank" href="//github.com/exodus4d/pathfinder/issues/246" rel="noopener">#246</a></li>
                        <li><i class="fas fa-fw fa-angle-right"></i>Added new "Abyss" systems <a target="_blank" href="//github.com/exodus4d/pathfinder/issues/631" rel="noopener">#631 </a></li>
                        <li><i class="fas fa-fw fa-angle-right"></i>Added "system statics" an "signature strength" information to map <a target="_blank" href="//github.com/exodus4d/pathfinder/issues/623" rel="noopener">#623</a></li>
                        <li><i class="fas fa-fw fa-angle-right"></i>Many more minor improvements/fixes and performance optimizations.</li>
                        <li><i class="fas fa-fw fa-angle-double-right"></i>Complete <a href="javascript:void(0)" class="pf-navbar-version-info">changelog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>