<li class="{{#isOdd}}timeline-inverted{{/isOdd}} {{#isFirst}}timeline-first{{/isFirst}}"  style="display:none;">
    <div class="timeline-badge"><i class="fab fa-lg fa-github fa-fw"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <h4 class="timeline-title">
                <a href="{{releaseData.url}}" target="_blank" rel="noopener">
                    <i class="fas fa-fw fa-tag"></i>&nbsp;{{ releaseData.name }}
                </a>

                <span class="text-muted pull-right">
                    {{ #releaseData.prerelease }}
                        <span class="label label-danger">Pre-release</span>
                    {{ /releaseData.prerelease }}
                    {{ ^releaseData.prerelease }}
                        {{#isFirst}}
                            <span class="label label-success">Latest release</span>
                        {{/isFirst}}
                        {{^isFirst}}
                            <span class="label label-default">Release</span>
                        {{/isFirst}}
                    {{ /releaseData.prerelease }}
                    <i class="far fa-calendar-alt fa-fw"></i> {{ releaseDate }}
                </span>
            </h4>
            <p><small class="text-muted"></small></p>
        </div>
        <div class="timeline-body">{{{ releaseData.body }}}</div>
        <div class="timeline-footer">
            <h4 class="timeline-title text-right">
                <a href="{{releaseData.urlZipBall}}" target="_blank" rel="noopener">
                    <i class="fas fa-fw fa-download"></i>&nbsp;download&nbsp;(zip)
                </a>&nbsp;&nbsp;
                <a href="{{releaseData.urlTarBall}}" target="_blank" rel="noopener">
                    <i class="fas fa-fw fa-download"></i>&nbsp;download&nbsp;(tar)
                </a>
            </h4>
        </div>
    </div>
</li>