$remove-color: $red-darker !default;
$remove-hover-color: $red-darkest !default;
$remove-width: 20px !default;

$selection-color: #444 !default;

$border-color: $gray-light !default;
$border-radius: 0px !default;
$border-radius-choice: 2px !default;

$focus-border-color: $teal-lighter !default;

$container-height: 28px !default;

$selection-bg-top-color: $gray-dark !default;
$selection-bg-bottom-color: #eeeeee !default;

$container-placeholder-color: #999 !default;

$container-focus-border-color: blue !default;

$selection-opened-bg-top-color: $selection-bg-bottom-color !default;
$selection-opened-bg-bottom-color: $selection-bg-top-color !default;

$dropdown-z-index: 1 !default;

$dropdown-bg-color: $selection-bg-top-color !default;

$results-max-height: 200px !default;
$results-nested-padding: 20px !default;

$results-choice-bg-hover-color: $gray-lighter !default;
$results-choice-fg-hover-color: $gray-dark !default;

$results-choice-fg-unselectable-color: $gray-light !default;
$results-choice-bg-unselectable-color: $gray !default;
