.select2-selection--single {
  background-color: $gray-dark;
  border: 1px solid $gray-light;
  border-radius: 0;
  height: 32px;

  &:focus {
    border-color: $input-border-focus;
    box-shadow: inset -1px 1px 5px 0 rgba(0, 0, 0, 0.8) !important;
  }

  .select2-selection__rendered {
    color: $gray-lighter;
    line-height: 30px; // + 1px border == 32px
    font-family: 'Oxygen Bold';
    padding-left: 15px;

    div[class^='col-']:first-child{
      padding-left: 0;  // overwrite default padding for "selected" option(s) in custom Bootstrap col layout
    }

    > .fas.fa-long-arrow-alt-right {
      margin-left: 8px; // arrow icon for e.g. wormhole "selected" option
    }
  }

  .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;

    &:hover {
      color: $red-darker;
    }
  }

  .select2-selection__placeholder {
    color: $gray-light;
  }

  .select2-selection__arrow {
    height: 30px;

    position: absolute;

    top: 1px;
    right: 1px;

    width: 20px;

    b {
      border-color: #888 transparent transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;

      height: 0;
      left: 50%;

      margin-left: -4px;
      margin-top: -2px;

      position: absolute;

      top: 50%;
      width: 0;
    }
  }
}

&[dir="rtl"] {
  .select2-selection--single {
    .select2-selection__clear {
      float: left;
    }

    .select2-selection__arrow {
      left: 1px;
      right: auto;
    }
  }
}

&.select2-container--disabled {
  .select2-selection--single {
    background-color: $input-bg-disabled;
    cursor: default;
    pointer-events: none;

    .select2-selection__clear {
      display: none;
    }
  }
}

&.select2-container--open {
  .select2-selection--single {
    border: 1px solid $teal-lighter;

    .select2-selection__arrow {
      b {
        border-color: transparent transparent #888 transparent;
        border-width: 0 4px 5px 4px;
      }
    }
  }
}
