
// styles for drag-select

div.pf-map-drag-to-select {
  background: $teal-darker;
  display: none; // triggered by js
  opacity: 0.3;
  z-index: 9000;
  border: 1px dashed $gray-lighter;
  @include border-radius(5px);

  &.active {
    display: block;
  }
}
