
// styles for drag-select

div.pf-map-drag-to-select {
  background: $teal-dark !important;
  display: block;
  visibility: hidden; // triggered by js
  opacity: 0; // triggered by js
  z-index: 9000;
  border: 1px dashed $gray-lighter;
  will-change: left, top, width, height, opacity;
  @include border-radius(5px);
  @include transition(opacity 0.15s linear);

  &.active {
    visibility: visible;
    opacity: 0.3;
  }
}
