name: Docker Image CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  schedule:
  - cron: "0 4 * * 0-6"

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag goryn-pathfinder:$(date +%s)

