<footer id="{{id}}" class="navbar navbar-default" role="navigation">
    <div class="pf-footer-left">
        <p class="navbar-text  txt-color txt-color-gray">
            <i class="far fa-clock"></i>&nbsp;&nbsp;<span class="{{ footerClockClass }}"></span>
            &nbsp;|&nbsp;
            <i class="far fa-copyright"></i>&nbsp;&nbsp;{{ currentYear }}&nbsp;
            <a class="{{footerLicenceLinkClass}}" href="javascript:void(0)">Licence</a>

        </p>
    </div>

    <div class="pf-footer-center"></div>

    <div class="pf-footer-right">
        <p class="navbar-text txt-color txt-color-gray">All <a href="http://www.eveonline.com/" target="_blank" rel="noopener">EVE ONLINE</a>
            related materials are property of
            <a target="_blank" href="http://www.ccpgames.com" rel="noopener">CCP Games</a>
        </p>
    </div>
</footer>