<div class="pf-splash" data-status="ok">
    <div class="pf-color-line"></div>
    <div class="pf-splash-title">
        <h1>PATHFINDER - System Mapping Tool</h1>
        <p class="lead">
            <em class="pf-brand">pathfinder</em> is an open source mapping tool for <em class="pf-brand"><a href="http://www.eveonline.com/" target="_blank" rel="noopener">EVE ONLINE</a></em>.
        </p>

        <div class="pf-loading-bars-container">
            <ul class="pf-loading-bars-loader">
                <li></li><li></li><li></li><li></li><li></li><li></li>
            </ul>
        </div>
    </div>
</div>